<% title "Jobseeker/Skills" %>

<table>
  <tr>
    <th>Resume</th>
    <th>Name</th>
    <th>Level</th>
  </tr>
  <% for skill in @skills %>
    <tr>
      <td><%= skill.resume_id %></td>
      <td><%= skill.name %></td>
      <td><%= skill.level %></td>
      <td><%= link_to "Show", skill %></td>
      <td><%= link_to "Edit", edit_skill_path(skill) %></td>
      <td><%= link_to "Destroy", skill, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobseeker/Skill", new_skill_path %></p>
