<% title "Jobseeker/Skill" %>

<p>
  <strong>Resume:</strong>
  <%= @skill.resume_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>
<p>
  <strong>Level:</strong>
  <%= @skill.level %>
</p>

<p>
  <%= link_to "Edit", edit_skill_path(@skill) %> |
  <%= link_to "Destroy", @skill, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", skills_path %>
</p>
