<%= page_name_html("增值服务", :with_title => true) %>

<% show_no_record(@services) do %>
  <table class="data-table">
  	<tr>
  	  <th width="80">服务名称</th>
  		<th>描述</th>
  		<th width="60">价格</th>
  		<th width="90"></th>
  	</tr>
  	<% @services.each do |service| %>
  	<tr class="even">
  	  <td><%= service.name %></td>
  		<td><%= raw service.desc %></td>
  		<td><%= format_price service.price %></td>
  		<td>
  		  <%= link_to "查看详情", send("#{current_user_section}_service_path", service) %> - 
  		  <%= link_to "购买", send("buy_#{current_user_section}_service_path", service), :confirm => "确定购买？" %>
  		</td>
  	</tr>
    <% end %>
  </table>
<% end %>