<%= page_name_html( @service.name, :with_title => true) %>

<table class="data-table">
	<tr>
	  <th width="100">服务名称</th>
		<th>描述</th>
		<th width="30">周期</th>
		<th width="30">数量</th>
	</tr>
	<% @service.service_item_amounts.each do |item_amount| %>
	<tr class="even">
	  <td><%= item_amount.service_item.name %></td>
		<td><%= raw item_amount.service_item.desc %></td>
		<td><%= item_amount.service_item.service_length %> 天</td>
		<td><%= item_amount.amount %> 次</td>
	</tr>
  <% end %>
</table>

<br />
<h3 class="left">当前余额：<%= format_price current_user.remains(ServiceItem.money_id) %></h3>
<%= button_to_function "#{format_price @service.price} - 购买", "$(location).attr('href','#{send("buy_#{current_user_section}_service_path", @service)}')", :class => 'largest right button', :confirm => "确定购买？" %>