<fieldset>
  <legend>报表</legend>

  <h4 class="text-center">公司查看数</h4>
  <% visualization "company_views_count_chart", "LineChart", :width => 635, :height => 200, :html => {:class => "graph_chart"} do |chart| %>
    <% chart.string "日期" %>
    <% chart.number "查看数" %>
    <% chart.add_rows(
        @company.counters.map do |counter|
          [counter.happened_at.to_s_date, counter.click]
        end
       ) %>
  <% end %>

  <div class="content-separator"></div>
  <h4 class="text-center">所有工作查看数</h4>
  <% visualization "all_jobs_views_count_chart", "LineChart", :width => 635, :height => 200, :html => {:class => "graph_chart"} do |chart| %>
    <% chart.string "日期" %>
    <% chart.number "查看数" %>
    <% chart.add_rows(
        @company.job_counters.group_by(&:happened_at).map do |date, counters|
          ["#{date.to_s_date}", counters.sum(&:click)]
        end
       ) %>
  <% end %>

  <div class="content-separator"></div>
  <h4 class="text-center">岗位应聘数</h4>
  <% visualization "job_applications_count_chart", "LineChart", :width => 635, :height => 200, :html => {:class => "graph_chart"} do |chart| %>
    <% chart.string "日期" %>
    <% chart.number "应聘数" %>
    <% chart.add_rows(
        @company.job_applications.group_by(&:created_at_to_s).map do |date, apps|
          [date, apps.size]
        end
       ) %>
  <% end %>
</fieldset>

<fieldset>
  <legend>统计</legend>

  <table class="data-table">
    <tr class="even">
      <th width="20%">工作总数</th>
      <td width="30%"><%= @company.jobs.count %></td>
      <th width="20%">应聘总数</th>
      <td width="30%"><%= @company.job_applications.count %></td>
    </tr>
    <tr class="even">
      <th>公开</th>
      <td><%= @company.jobs.opened.count %></td>
      <th>未阅读</th>
      <td><%= @company.job_applications.unread.count %></td>
    </tr>
    <tr class="even">
      <th>关闭</th>
      <td><%= @company.jobs.closed.count %></td>
      <th>接受</th>
      <td><%= @company.job_applications.accepted.count %></td>
    </tr>
    <tr class="even">
      <th>未审核</th>
      <td><%= @company.jobs.unapproved.count %></td>
      <th>拒绝</th>
      <td><%= @company.job_applications.rejected.count %></td>
    </tr>
    <tr class="even">
      <th>高亮</th>
      <td><%= @company.jobs.highlighted.count %></td>
      <th>加入收藏</th>
      <td><%= @company.job_applications.starred.count %></td>
    </tr>
  </table>
</fieldset>



<fieldset>
  <legend>剩余消费点</legend>

  <table class="data-table">
    <!-- [[ItemObj, 1],[ItemObj, 2]] -->
    <% current_user.all_remains.in_groups_of(3) do |group| %>
    <tr class="even">
      <% 3.times do |i| %>
      <% next if group[i].blank? %>
      <th width="20%"><%= group[i][0].name %></th>
      <td width="10%"><%= group[i][0].is_money? ? format_price(group[i][1]) : group[i][1] %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</fieldset>



<fieldset>
  <legend>未查看的简历</legend>

  <% show_no_record(@applications) do %>
    <table class="data-table">
    	<tr>
    	  <th>应聘岗位</th>
    		<th>所在省市</th>
    		<th>时间</th>
    		<th>操作</th>
    		<th width="100">收藏级别</th>
    	</tr>
    	<% @applications.each do |app| %>
    	<% job = app.job; resume = app.resume	%>
    	<tr class="<%= app.unread? ? "unread" : "even" %>">
    	  <td><%= raw "<span class='shine'>(新)</span>" if app.unread? %> <%= link_to job.name, company_job_path(job) %></td>
    		<td><%= resume.current_residence %></td>
    		<td><%= app.updated_at.to_s_datetime %></td>
    		<td>
    		  <%= link_to "查看简历", company_job_application_path(app) %>
    		</td>
    		<td class="app_<%= app.id %>">
          <script>
            $(function(){
              $(".app_<%= app.id %>_options").stars({
                  callback: function(ui, type, value){
                    $(".app_<%= app.id %>_options").closest("form").submit();
                  }
              });
              $(".app_<%= app.id %>_options").stars("select", <%= app.rating || 0 %>);
            });
          </script>

          <%= form_for app, :url => star_company_job_application_path(app), :remote => true do |f| %>
          <div class="app_<%= app.id %>_options">
        	  <%= f.radio_button :rating, "1", :title => "很差" %>
        	  <%= f.radio_button :rating, "2", :title => "差" %>
        	  <%= f.radio_button :rating, "3", :title => "一般" %>
        	  <%= f.radio_button :rating, "4", :title => "不错" %>
        	  <%= f.radio_button :rating, "5", :title => "很好" %>
        	</div>
        	<span style="margin-left: 5px; font-weight: bold;"></span>
        	<% end %>
    		</td>
    	</tr>
      <% end %>
    </table>
  <% end %>
</fieldset>