<fieldset>
  <legend>应聘情况</legend>
  <% show_no_record(@applications) do %>
    <% visualization "my_chart", "LineChart", :width => 635, :height => 200, :html => {:class => "graph_chart"} do |chart| %>
      <% chart.string "日期" %>
      <% chart.number "应聘数" %>
      <% chart.add_rows(
          @applications.group_by(&:created_at_to_s).map do |date, app|
            [date, app.size]
          end
         ) %>
    <% end %>
  <% end %>
</fieldset>

<fieldset class="left w298">
  <legend>最新应聘</legend>
  <% show_no_record(@applications) do %>
  <table class="data-table">
    <tr>
      <th>工作名</th>
      <th>应聘日期</th>
    </tr>
    <% @applications.each do |app| %>
    <tr class="even">
      <td width="160"><%= link_to app.job.name, job_path(app.job) %></td>
      <td><%= app.created_at.to_s_date %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</fieldset>

<fieldset class="right w298">
  <legend>简历填写情况</legend>

  <table class="data-table">
    <tr class="even">
      <th width="40">基本信息</th>
      <td width="40"><%= raw @resume.name_present? %></td>
      <th width="40">求职信</th>
      <td width="40"><%= raw @resume.cover_letters_present? %></td>
    </tr>
    <tr class="even">
      <th>证书</th>
      <td><%= raw @resume.certifications_present? %></td>
      <th>项目</th>
      <td><%= raw @resume.projects_present? %></td>
    </tr>
    <tr class="even">
      <th>技能</th>
      <td><%= raw @resume.skills_present? %></td>
      <th>学校</th>
      <td><%= raw @resume.schools_present? %></td>
    </tr>
    <tr class="even">
      <th>工作经历</th>
      <td><%= raw @resume.previous_jobs_present? %></td>
      <th>语言</th>
      <td><%= raw @resume.languages_present? %></td>
    </tr>
  </table>
</fieldset>