<% companies = Ad.famous_companies.opened.with_theme(current_theme_site).limit(6).map(&:company) %>
<div class="section network-section">
	<div class="section-title">知名企业招聘</div>
	<div class="section-content">
    <% show_no_record(companies) do %>
      <% companies.each_with_index do |company, i| %>
      <div class="top-page-job <%= (i+1)%3 == 0 ? "right" : "left" %>">
        <div><%= link_to image_tag(company.logo.url(:fix_height)), company, :title => raw(company.name) %></div>
        <div class="company-jobs">
          <h5><%= link_to company.name, company, :title => company.name %></h5>
            <% company.jobs.opened.limit(2).each do |job| %>
            <div>
              <div class="left" style="margin: 0"><%= link_to job.name.truncate(26), job, :title => job.name, :class => "quiet" %></div>
    			    <strong class="quiet right" style="margin: 0"><%= job.location %></strong>
    			  </div>
    			  <div class="clearer">&nbsp;</div>
    			  <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
	</div>
</div>