<div class="main" id="main-three-columns-center">
  <div class="left sidebar" id="sidebar-1">
    <%= render "shared/ads/homepage_urgent_jobs" %>
  </div>

  <div class="left" id="main-center">
    <%= render "slider_ads" %>
  </div>

  <div class="right sidebar" id="sidebar-1">
    <h4 class="black ss_sprite ss_building" style="padding-top: 0px">公司加入</h4>
    <div>
      <font size="2">结合全国各大小IT技术社区，让你的工作信息深入程序员内部，达到高效招聘。</font>
      <div class="clearer">&nbsp;</div>
      <div class="right small_top_margin"><%= button_to "立刻加入", new_company_path, :method => :get, :class => "button" %></div>
    </div>
    <div class="clearer">&nbsp;</div>
    <div class="archive-separator"></div>
    <h4 class="black ss_sprite ss_note_edit" style="padding-top: 0px">求职者加入</h4>
    <div>
      <font size="2">我们为您提供高质，高效，真实的工作信息，让您发出的每一份简历都得到回应。</font>
      <div class="clearer">&nbsp;</div>
      <div class="right small_top_margin"><%= button_to "立刻加入", new_with_choices_jobseeker_resume_path, :method => :get, :class => "button" %></div>
    </div>
  </div>
  <div class="clearer">&nbsp;</div>
</div>

<%#= render "custom_ads" %>

<% cache(:action => 'ads', :action => 'index', :expires_in => 1.hour) do %>

  <div id="new_job_list">
    <%= render "top_jobs" %>
    <%= render "latest_jobs" %>
    <%= render "latest_companies" %>
    <div class="clearer">&nbsp;</div>
  </div>

  <div id="top_job_list">
    <%= render "famous_companies" %>
    <div class="clearer">&nbsp;</div>
  </div>

  <% content_for :footer_ad_zone do %>
    <%= render "shared/ads/bottom_ads" %>
    <%#= render "shared/ads/featured_partners" %>
  <% end %>

<% end %>