<div class="main" id="main-three-columns-center">

	<div class="left sidebar" id="sidebar-1">
		<%= render "shared/ads/right_side/urgent_jobs" %>
	</div>

	<div class="left" id="main-center">
    <%= render "slider_ads" %>
	</div>

	<div class="right sidebar" id="sidebar-1">
    <h4 class="black ss_sprite ss_building">公司加入</h4>    
    <div>
      <font size="2">免费展示公司，您的工作将展示于全国各大小IT社区，高效应聘。</font>

      <div class="clearer">&nbsp;</div>
      <div class="right small_top_margin"><%= button_to "立刻加入", new_company_path, :method => :get, :class => "button" %></div>
    </div>
    <div class="clearer">&nbsp;</div><br/>

    <h4 class="black ss_sprite ss_note_edit">求职者加入</h4>
    <div>
      <font size="2">专注于IT职位招聘，免费短信提示简历动态，一份简历走天下。</font>

      <div class="clearer">&nbsp;</div>
      <div class="right small_top_margin"><%= button_to "立刻加入", new_jobseeker_resume_path, :method => :get, :class => "button" %></div>
    </div>
	</div>
  <div class="clearer">&nbsp;</div>
</div>

<div id="top_job_list">
  <%= render "featured_jobs_and_companies" %>
  <div class="clearer">&nbsp;</div>
</div>

<!-- <div id="main_ad_zone">
  <div class="section network-section">
    <div class="section-title">推荐企业</div>
    <div class="section-content">
      <img src="http://img03.taobaocdn.com/tps/i3/T1CI8KXndbXXXXXXXX-950-95.gif" class="left bordered" width="972" />
      <div class="clearer">&nbsp;</div>

      <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="228" height="60" class="left bordered"/>
      <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="228" height="60" class="left bordered"/>
      <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="228" height="60" class="left bordered"/>
      <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="228" height="60" class="right bordered"/>
      <div class="clearer">&nbsp;</div>
    </div>
  </div>
</div> -->

<div id="new_job_list">
  <%= render "top_jobs" %>
  <%= render "latest_jobs" %>
  <%= render "latest_companies" %>

	<div class="clearer">&nbsp;</div>
</div>