<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <title>ITJob.fm inline ads</title>
  <%= javascript_include_tag "jquery", "jquery.cycle.all.min" %>
  <script>
  $(function(){
    $('#ads').cycle({ fx:'scrollDown', speed:500, timeout: 3000});
    $('#ads').mouseover(function(){
      $('#ads').cycle('pause');
    });

    $('#ads').mouseout(function(){
      $('#ads').cycle('resume');
    });
  });
  </script>
  <style>
    table img { border: 1px #eee solid; padding: 3px; }
    table { cursor: hand;}
    table.td { vertical-align: center; text-align: left; }
    .title { font-size: 18px; font-weight: bold; text-align: left; }
    .desc { font-size: 12px; text-align: left; margin-top: 3px;}
    body { padding: 0; margin: 0; }
    html { overflow: auto; }
    .hidden {display: none;}
    a {color: black; text-decoration: none;}
    b { font: bold 12px Georgia,serif; color: red; }
    #corner_mark {
      position : absolute;
      bottom: 0px;
      right: 0;
      font-family: Arial;
      font-size: 10px;
      padding: 3px 5px;
      background-color: #ccc;
      z-index: 100;
    }
    #corner_mark a { text-decoration: none; color: #333; }
    #corner_mark a:hover{
      text-decoration: underline;
      color: black;
      background-color: #ccc;
    }
  </style>
</head>

<body>
  <div id="ads">
    <% @jobs.each do |job| %>
      <table cellpadding="3" width="100%" height="72">
        <tr>
          <td align="left" width="0">
            <a href="<%= job_url(job) %>" target="blank"><%= image_tag job.company.logo.url(:fix_height) %></a>
          </td>
          <td width="90%">
            <a href="<%= job_url(job) %>" target="blank">
              <div class="title"><%= job.location %> - <%= job.name %></div>
              <div class="desc"><%= job.company.name %></div>
              <div class="desc">薪资范围：<b><%= job.salary_range_humanize %></b></div>
            </a>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

  <div id="corner_mark"><a href='http://<%= @host %>/companies/new' target="blank">10万高薪免费发布 - ITJob.fm</a></div>
</body>
</html>