<% title "用户登陆" %>

<div class="main">
  <div class='left' style="width: 280px;">
    <%= jobware_form_for UserSession.new, :as => :user_session, :url => sessions_path, :title => "登陆" do |f| %>
        <%= render :partial => "sessions/form", :locals => { :f => f } %>
        <%= link_to "忘记密码？", reset_password_path, :class => "right small_top_margin", :remote => true %>
        <%= f.submit "登陆" %>
    <% end %>

    <div id="reset_password_form"></div>
  </div>

  <div class='left' style="width: 635px; margin-left: 1em;">

    <fieldset style="width: 100%;" class="big">
      <legend>企业注册</legend>
      <img src="/images/icons/agency.png" class="left"/>
      <div class="right w300 middle_bottom_margin large" style="width: 75%;"><%= render "users/company_reg_intro" %></div>
      <div class="clearer">&nbsp;</div>
      <div class="right">
        <div class="btn right"><%= link_to "立刻注册", new_company_path, :class => "black" %><span></span></div>
      </div>
    </fieldset>

    <fieldset style="width: 100%;" class="big">
      <legend>求职者注册</legend>
      <img src="/images/icons/old-edit-find.png" class="left"/>
      <div class="right w300 middle_bottom_margin large" style="width: 75%;"><%= render "users/jobseeker_reg_intro" %></div>
      <div class="clearer">&nbsp;</div>
      <div class="right">
        <div class="btn right"><%= link_to "立刻注册", new_jobseeker_resume_path, :class => "black" %><span></span></div>
      </div>
    </fieldset>
  </div>

  <div class="clearer">&nbsp;</div>
</div>