<% title "用户登陆" %>

<div class='left w49p'>
  <%= jobware_form_for @user_session, :as => :user_session, :url => sessions_path, :title => "登陆" do |f| %>
      <%= render :partial => "sessions/form", :locals => { :f => f } %>
      <%= f.submit "登陆" %>
  <% end %>
</div>

<div class='right w49p'>
  <%= jobware_form_for @user||User.new, :url => user_path, :title => "注册" do |f| %>
    <%= render :partial => "users/form", :locals => { :f => f } %>
    <%= f.submit "注册" %>
  <% end %>
</div>
<div class="clearer">&nbsp;</div>