<% title "Jobseeker/Cover Letters" %>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Resume</th>
  </tr>
  <% for cover_letter in @cover_letters %>
    <tr>
      <td><%= cover_letter.name %></td>
      <td><%= cover_letter.content %></td>
      <td><%= cover_letter.resume_id %></td>
      <td><%= link_to "Show", cover_letter %></td>
      <td><%= link_to "Edit", edit_cover_letter_path(cover_letter) %></td>
      <td><%= link_to "Destroy", cover_letter, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobseeker/Cover Letter", new_cover_letter_path %></p>
