<% title "Jobseeker/Cover Letter" %>

<p>
  <strong>Name:</strong>
  <%= @cover_letter.name %>
</p>
<p>
  <strong>Content:</strong>
  <%= @cover_letter.content %>
</p>
<p>
  <strong>Resume:</strong>
  <%= @cover_letter.resume_id %>
</p>

<p>
  <%= link_to "Edit", edit_cover_letter_path(@cover_letter) %> |
  <%= link_to "Destroy", @cover_letter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cover_letters_path %>
</p>
