<% title "广告位" %>

<% show_no_record(@ad_positions) do %>
<table class="data-table">
	<tr>
	  <th>名称</th>
	  <th>岗位关键字</th>
	  <th>宽度</th>
	  <th>高度</th>
		<th>类型</th>
    <th>样式</th>
    <th>操作</th>
	</tr>
  <% for ad_position in @ad_positions %>
    <tr>
      <td><%= ad_position.name %></td>
      <td><%= ad_position.job_list_tags %></td>
      <td><%= ad_position.width %></td>
      <td><%= ad_position.height %></td>
      <td><%= ad_position.type %></td>
      <td><%= ad_position.style %></td>
      <td>
        <%= link_to "详情", partner_ad_position_path(ad_position) %>
        <%= link_to "修改", edit_partner_ad_position_path(ad_position) %>
        <%= link_to "删除", partner_ad_position_path(ad_position), :confirm => '确定删除？', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>