<% title "广告位" %>

<table class="data-table">
	<tr>
	  <th>名称</th>
	  <th>岗位关键字</th>
	  <th>宽度</th>
	  <th>高度</th>
		<th>类型</th>
    <th>样式</th>
	</tr>
  <% for ad_position in @ad_positions %>
    <tr>
      <td><%= ad_position.name %></td>
      <td><%= ad_position.job_list_tags %></td>
      <td><%= ad_position.width %></td>
      <td><%= ad_position.height %></td>
      <td><%= ad_position.type %></td>
      <td><%= ad_position.style %></td>
      <td><%= ad_position.partner_id %></td>
      <td><%= link_to "Show", ad_position %></td>
      <td><%= link_to "Edit", edit_ad_position_path(ad_position) %></td>
      <td><%= link_to "Destroy", ad_position, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>