<% title "广告位" %>

<table class="data-table">
  <tr>
	  <th>类型</th><td><%= @ad_position.type %></td>
	</tr>
	<tr>
	  <th>名称</th><td><%= @ad_position.name %></td>
	</tr>
	<tr>
	  <th>岗位关键字</th><td><%= @ad_position.job_list_tags %></td>
	</tr>
	<tr>
	  <th>宽度</th><td><%= @ad_position.width %></td>
	</tr>
	<tr>
	  <th>高度</th><td><%= @ad_position.height %></td>
	</tr>
	<tr>
	  <th>样式</th><td><%= @ad_position.style %></td>
	</tr>
</table>
