<% title "收到的应聘" %>

<table class="data-table">
	<tr>
	  <th>应聘岗位</th>
		<th>所在省市</th>
		<th>时间</th>
		<th>操作</th>
		<th width="200">收藏级别</th>
	</tr>
	<% @applications.each do |app| %>
	<%
	  job = app.job
	  resume = app.resume
	%>
	<tr class="even">
	  <td><%= link_to job.name, job_path(job) %></td>
		<td><%= resume.current_residence %></td>
		<td><%= app.updated_at.to_s_datetime %></td>
		<td>
		  <%= link_to "查看简历", company_job_application_path(app) %>
		</td>
		<td class="app_<%= app.id %>">
      <script>
        $(function(){
          $(".app_<%= app.id %>_options").stars({
              callback: function(ui, type, value){
                $(".app_<%= app.id %>_options").closest("form").submit();
              }
          });
          $(".app_<%= app.id %>_options").stars("select", <%= app.rating || 0 %>);
        });
      </script>

      <%= form_for app, :url => star_company_job_application_path(app), :remote => true do |f| %>
      <div class="app_<%= app.id %>_options">
    	  <%= f.radio_button :rating, "1", :title => "很差" %>
    	  <%= f.radio_button :rating, "2", :title => "差" %>
    	  <%= f.radio_button :rating, "3", :title => "一般" %>
    	  <%= f.radio_button :rating, "4", :title => "不错" %>
    	  <%= f.radio_button :rating, "5", :title => "很好" %>
    	</div>
    	<span style="margin-left: 5px; font-weight: bold;"></span>
    	<% end %>
		</td>
	</tr>
  <% end %>
</table>

<%= will_paginate @applications %>