<% if params[:filter] == "starred" %>
  <% title "收藏的应聘" %>
  <h3>收藏的应聘</h3>
<% else %>
  <% title "收到的应聘" %>
  <h3>收到的应聘</h3>
<% end %>
<div class="archive-separator"></div>

<% show_no_record(@applications) do %>
  <table class="data-table">
  	<tr>
  	  <th>应聘岗位</th>
  		<th width="60">所在省市</th>
  		<th width="130">时间</th>
  		<th width="60">操作</th>
  		<th width="100">收藏级别</th>
  	</tr>
  	<% @applications.each do |app| %>
  	<% job = app.job; resume = app.resume	%>
  	<tr class="<%= app.unread? ? "unread" : "even" %>">
  	  <td><%= raw "<span class='shine'>(新)</span>" if app.unread? %> <%= link_to job.name, company_job_path(job) %></td>
  		<td><%= resume.current_residence %></td>
  		<td><%= app.updated_at.to_s_datetime %></td>
  		<td>
  		  <%= link_to "查看简历", company_job_application_path(app) %>
  		</td>
  		<td class="app_<%= app.id %>">
        <script>
          $(function(){
            $(".app_<%= app.id %>_options").stars({
                callback: function(ui, type, value){
                  $(".app_<%= app.id %>_options").closest("form").submit();
                }
            });
            $(".app_<%= app.id %>_options").stars("select", <%= app.rating || 0 %>);
          });
        </script>

        <%= form_for app, :url => star_company_job_application_path(app), :remote => true do |f| %>
        <div class="app_<%= app.id %>_options">
      	  <%= f.radio_button :rating, "1", :title => "很差" %>
      	  <%= f.radio_button :rating, "2", :title => "差" %>
      	  <%= f.radio_button :rating, "3", :title => "一般" %>
      	  <%= f.radio_button :rating, "4", :title => "不错" %>
      	  <%= f.radio_button :rating, "5", :title => "很好" %>
      	</div>
      	<span style="margin-left: 5px; font-weight: bold;"></span>
      	<% end %>
  		</td>
  	</tr>
    <% end %>
  </table>
  <%= will_paginate @applications %>
<% end %>