<% title "发布工作" %>

<h3 class="right small_top_margin"><%= link_to "查看前台效果", @company %></h3>
<h2>公司信息预览</h2>
<div class="archive-separator"></div>

<div class="text-center">
  <h2><%= @company.name %></h2>
  <%= image_tag @company.logo.url, :class => "bordered" %>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>基本信息</h3></div>

	<div class="post-body">
		<table class="data-table">
			<tr>
				<th width="15%">公司地点</th>
				<td width="15%"><%= @company.location %></td>
				<th width="10%">规模</th>
				<td width="15%"><%= @company.size_humanize %></td>
				<th width="10%">性质</th>
				<td width="10%"><%= @company.company_type_humanize %></td>
				<th width="10%">点击数</th>
				<td width="10%"><%= @company.views_count_s %></td>
			</tr>
		</table>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司简介</h3></div>
	<div class="post-body">
	  <%= raw @company.desc %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司产品</h3></div>
	<div class="post-body">
	  <% show_no_record(@company.products) do %>
		<table class="data-table top-vlign top-vlign-td">
		  <% @company.products.each do |p| %>
			<tr>
				<th width="30%"><%= image_tag p.file.url, :class => "bordered w200" %></th>
				<td width="70%"><%= raw p.desc %></td>
			</tr>
      <% end %>
		</table>
		<% end %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>联系方式</h3></div>
	<div class="post-body">
		<table class="data-table">
			<tr>
				<th width="20%">网址</th>
				<td width="80%"><%= @company.homepage %></td>
			</tr>
			<tr>
				<th>公司地址</th>
				<td><%= @company.address %></td>
			</tr>
			<tr>
				<th>邮箱</th>
				<td><%= @company.user.email %></td>
			</tr>
		</table>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
  <div class="post-title"><h3>公司展示</h3></div>
	<div class="post-body">
    <%= render :partial => 'companies/presentation', :collection => @company.presentations, :locals => {:image_size => :slideshow_small} %>
	</div>
</div>



<br/>
<%= button_to_function "修改", "$(location).attr('href','#{edit_company_company_path}')", :class => 'largest right button' %>