<% title "发布工作" %>

<div class="post">
  <%= image_tag @company.logo.url, :class => "company_logo bordered" %>

	<div class="company_info">
		<h3><%= @company.name %></h3>
		<h5><%= @company.location %></h5>
		<table class="data-table" style="width:480px; margin-top: 10px">
			<tr>
				<th width="20%">公司地点</th>
				<td width="30%"><%= @company.location %></td>
				<th width="20%">规模</th>
				<td width="30%"><%= @company.size_humanize %></td>
			</tr>
			<tr>
				<th>性质</th>
				<td><%= @company.company_type_humanize %></td>
				<th>点击数</th>
				<td><%= @company.views_count_s %></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearer">&nbsp;</div>
<div class="content-separator"></div>

<div class="post">
	<div class="post-body text-center">
    <%= render :partial => 'companies/presentation', :locals => {:company => @company} %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司简介</h3></div>
	<div class="post-body">
	  <%= raw @company.desc %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司产品</h3></div>
	<div class="post-body">
	  <% show_no_record(@company.products) do %>
		<table class="data-table top-vlign top-vlign-td">
		  <% @company.products.each do |p| %>
			<tr>
				<th width="30%"><%= image_tag p.file.url, :class => "bordered w200" %></th>
				<td width="70%"><%= raw p.desc %></td>
			</tr>
      <% end %>
		</table>
		<% end %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>联系方式</h3></div>
	<div class="post-body">
		<table class="data-table">
			<tr>
				<th width="20%">网址</th>
				<td width="80%"><%= @company.homepage %></td>
			</tr>
			<tr>
				<th>公司地址</th>
				<td><%= @company.address %></td>
			</tr>
			<tr>
				<th>邮箱</th>
				<td><%= @company.user.email %></td>
			</tr>
		</table>
	</div>
</div>