<table class="data-table">
  <tr>
    <th width="10%">公司名</th>
    <td width="20%"><%= item.company_name %></td>

    <th width="10%">性质</th>
    <td width="20%"><%= item.company_type_humanize %></td>

    <th width="10%">规模</th>
    <td width="20%"><%= item.company_size_humanize %></td>
  </tr>
  <tr>
    <th>职位</th>
    <td><%= item.job_title %></td>

    <th>入职时间</th>
    <td><%= item.start_at.to_s_date %></td>

    <th>离职时间</th>
    <td><%= item.end_at.to_s_date if item.end_at %></td>
  </tr>
</table>