<% title "Jobseeker/Previous Jobs" %>

<table>
  <tr>
    <th>Resume</th>
    <th>Company Name</th>
    <th>Company Type</th>
    <th>Company Size</th>
    <th>Job Title</th>
    <th>Start At</th>
    <th>End At</th>
  </tr>
  <% for previous_job in @previous_jobs %>
    <tr>
      <td><%= previous_job.resume_id %></td>
      <td><%= previous_job.company_name %></td>
      <td><%= previous_job.company_type %></td>
      <td><%= previous_job.company_size %></td>
      <td><%= previous_job.job_title %></td>
      <td><%= previous_job.start_at %></td>
      <td><%= previous_job.end_at %></td>
      <td><%= link_to "Show", previous_job %></td>
      <td><%= link_to "Edit", edit_previous_job_path(previous_job) %></td>
      <td><%= link_to "Destroy", previous_job, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobseeker/Previous Job", new_previous_job_path %></p>
