<% title "Partners" %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Url</th>
    <th>Contact Name</th>
    <th>Phone Number</th>
    <th>Site Size</th>
    <th>Desc</th>
  </tr>
  <% for partner in @partners %>
    <tr>
      <td><%= partner.user_id %></td>
      <td><%= partner.name %></td>
      <td><%= partner.url %></td>
      <td><%= partner.contact_name %></td>
      <td><%= partner.phone_number %></td>
      <td><%= partner.site_size %></td>
      <td><%= partner.desc %></td>
      <td><%= link_to "Show", partner %></td>
      <td><%= link_to "Edit", edit_partner_path(partner) %></td>
      <td><%= link_to "Destroy", partner, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Partner", new_partner_path %></p>
