<% title "合作站加入" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    <h3>加入我们的理由：</h3>
    <br>
    <ol>
      <li>帮助您的社区和博客增加收入。</li>
      <li>为您的社区提供优质招聘服务。</li>
      <li>无需编写任何程序代码。</li>
      <li>无需站长花任何时间管理。</li>
    </ol>

    <h3>遇到困难请联系我们：</h3>
    <br>
    <ul>
      <li>邮箱：contact@itjob.fm</li>
      <li>电话：0571-28820982</li>
    </ul>
  </div>

  <div class="left" id="main-left">
    <%= jobware_form_for @partner, :url => partner_path, :title => "合作站注册", :use_fieldset => false do |f| %>

      <%= field_set_tag "合作站信息", :class => 'big' do %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <%#= f.check_box :accept_terms, :label => "同意协议", :required => true, :type => 'agree_term', :hint => raw("<a href='#'>查看条款</a>") %>
      <% end %>
      <%= render "shared/new_user_form", :f => f %>
      <%= show_term %>
      <%= f.submit "同意用户协议并提交", :class => "right button" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>