<% title "合作站加入" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    注意事项
  </div>

  <div class="left" id="main-left">
    <%= jobware_form_for @partner, :url => partner_path, :title => "合作站注册", :use_fieldset => false do |f| %>

      <%= field_set_tag "合作站信息", :class => 'big' do %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <%= f.check_box :accept_terms, :label => "同意协议", :required => true, :type => 'agree_term', :hint => raw("<a href='#'>查看条款</a>") %>
      <% end %>
      <%= render "shared/new_user_form", :f => f %>
      <%= f.submit "提交", :class => "right button" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>