<%= form_for @language do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :resume_id %><br />
    <%= f.text_field :resume_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p><%= f.submit %></p>
<% end %>
