<% title "Jobseeker/Languages" %>

<table>
  <tr>
    <th>Resume</th>
    <th>Type</th>
    <th>Level</th>
  </tr>
  <% for language in @languages %>
    <tr>
      <td><%= language.resume_id %></td>
      <td><%= language.type %></td>
      <td><%= language.level %></td>
      <td><%= link_to "Show", language %></td>
      <td><%= link_to "Edit", edit_language_path(language) %></td>
      <td><%= link_to "Destroy", language, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobseeker/Language", new_language_path %></p>
