<% wide ||= false %>
<div class="post <%= "highlighted_job" if job.highlighted? %> <%= "keep_top_job" if job.keep_top? %>">
  <!-- click -->
  <div class="archive-post-date">
    <% if job.keep_top? %>
      <b class="red largest bold">置顶</b>
    <% end %>
    <div class="archive-post-day"><%= job.views_count_s %></div>
    <div class="archive-post-month">点击</div>
  </div>

  <% if params[:id].blank? %>
  <div class="company_logo">
    <%= link_to image_tag(job.company.logo.url, :class => "aligncenter bordered company_logo"), job.company %>
  </div>
  <% end %>

	<!-- title and company -->
	<div class="<%= wide ? "archive-post-title-wide" : "archive-post-title" %>">
		<h3><%= link_to job.name, job %></h3>
		<div class="post-date"><%= link_to job.company.try(:name), job.company %></div>
		<div class="bold">薪资：<%= job.salary_range_humanize %></div>
		<div class="small_top_margin"><%= show_tag_list job.tag_list, "/jobs/tag" %></div>
	</div>

	<!-- address and date -->
	<div class="archive-post-address">
		<h3><%= job.location %></h3>
		<div class="post-date text-center">发布于 <%= job.start_at.try(:to_s_short_date) %></div>
		<div class="right bordered small_top_margin">还有<b><%= job.deadline %></b>天结束</div>
	</div>
	<div class="clearer">&nbsp;</div>
</div>

<div class="archive-separator"></div>

<!-- <table>
  <tr>
    <td>
      <div class="company_logo" valign="top">
        <%= image_tag job.company.logo.url, :class => "aligncenter bordered company_logo" %>
      </div>
    </td>

    <td class="job-title">
      <h3><%= link_to job.name, job %></h3>
      <div class="post-date"><%= link_to job.company.try(:name), job.company %></div>
    </td>

    <td class="job-location">
      <h3><%= job.location %></h3>
      <div class="post-date"><%= job.updated_at.to_s_datetime %></div>
    </td>
  </tr>
</table> -->