<div class="post">
  <%= image_tag job.company.logo.url, :class => "company_logo bordered" %>

  <div class="company_info">
    <div id="rating" class="right">
      <script>
        $(function(){
          $(".stars-wrapper").stars("select", <%= @starred_job.try(:rating) || 0 %>);
        })
      </script>

      <%= form_for :starred_job, :url => star_job_path(job), :remote => true do |f| %>
      <b>收藏等级:</b>
    	<% if @starred_job %>
    	  <small>我已收藏</small>
  	  <% else %>
    	  <small></small>
    	<% end %>

      <!-- <span id="stars-cap"></span> -->
    	<div class="stars-wrapper">
    	  <%= f.radio_button :rating, "1", :title => "还行" %>
    	  <%= f.radio_button :rating, "2", :title => "不错" %>
    	  <%= f.radio_button :rating, "3", :title => "很好" %>
    	  <%= f.radio_button :rating, "4", :title => "非常好" %>
    	  <%= f.radio_button :rating, "5", :title => "极好" %>
    	</div>
    	<% end %>
  	</div>


    <h3><%= job.name %></h3>
    <h5><%= job.company.name %></h5>
    <table class="data-table" style="width:440px; margin-top: 10px;">
      <tr>
        <th width="20%">工作地点</th>
        <td width="40%"><%= job.location %></td>
        <th width="20%">招聘人数</th>
        <td width="20%"><%= job.vacancy %></td>
      </tr>
      <tr>
        <th>薪资</th>
        <td><%= job.salary_range_humanize %></td>
        <th>工作类型</th>
        <td><%= job.contract_type_humanize %></td>
      </tr>
      <tr>
        <th>发布日期</th>
        <td><%= job.updated_at.to_s_datetime %></td>
        <th>点击数</th>
        <td><%= job.increased_views_count %></td>
      </tr>
    </table>
  </div>
</div>

<div class="clearer">&nbsp;</div>
<div class="content-separator w640"></div>

<% [ [:content, "工作内容"], [:requirement, "岗位要求"], [:welfare, "福利"], [:desc, "其他描述"], [:apply_method, "应聘方式"] ].each do |key, value| %>
  <% next if job.send(key).blank? %>
  <div class="post">
    <div class="post-title"><h3><%= value %></h3></div>
    <div class="post-body"><%= raw job.send(key) %></div>
  </div>
  <div class="content-separator w640"></div>
<% end %>

<div id="job_application_form"></div>
<div class="right">
  <% if current_user.try(:jobseeker).try(:applied_to_job?, job) %>
    <%= button_to '您已经应聘过了此岗位。', "#", :remote => true, :method => :get, :class => "button largest", :disabled => true %>
  <% elsif !job.only_use_custom_apply_method? %>
    <%= button_to '应聘此岗位', new_job_job_application_path(job), :remote => true, :method => :get, :class => "button largest", :id => "apply_button" %>
  <% end %>
</div>