<div class="post">
	<img src="/images/logos/amn_logo.png" alt="" class="company_logo bordered" />

	<div class="company_info">
		<h3><%= company.name %></h3>
		<h5><%= company.location %></h5>
		<table class="data-table" style="width:440px">
			<tr>
				<th width="20%">公司地点</th>
				<td width="30%"><%= company.location %></td>
				<th width="20%">规模</th>
				<td width="30%"><%= company.size_humanize %></td>
			</tr>
			<tr>
				<th>性质</th>
				<td><%= company.company_type_humanize %></td>
				<th>点击数</th>
				<td>xxx</td>
			</tr>
		</table>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-body">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="635" height="300" id="loader" align="middle">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="paramXMLPath=http://theplant.jp/en/wp-content/plugins/slideshow/param.php?postid=1429" />
    <param name="movie" value="http://theplant.jp/en/wp-content/plugins/slideshow/slideshowpro.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#121212" />
    <embed
      FlashVars="paramXMLPath=http://theplant.jp/en/wp-content/plugins/slideshow/param.php?postid=1429"
      src="http://theplant.jp/en/wp-content/plugins/slideshow/slideshowpro.swf"
      quality="best"
      bgcolor="#121212"
      width="635"
      height="300"
      name="loader" align="middle"
      allowScriptAccess="sameDomain"
      allowFullScreen="true"
      type="application/x-shockwave-flash"
      pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司简介</h3></div>
	<div class="post-body">
	  <%= raw company.desc %>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>公司产品</h3></div>
	<div class="post-body">
		<table class="data-table">
			<tr>
				<th width="30%"><img src="/images/logos/amn_logo.png" alt="" class="bordered w200" /></th>
				<td width="70%">http://theplant.jp</td>
			</tr>
			<tr>
				<th><img src="/images/logos/japanprobe_logo_en.jpg" alt="" class="bordered w200" /></th>
				<td>
				  http://japanprobe.jp
				  主要是帮助人们分享知识
				</td>
			</tr>
			<tr>
				<th><img src="/images/logos/akihabaranews_logo_en.jpg" alt="" class="bordered w200" /></th>
				<td>hr@theplant.jp</td>
			</tr>
		</table>
	</div>
</div>

<div class="content-separator"></div>

<div class="post">
	<div class="post-title"><h3>联系方式</h3></div>
	<div class="post-body">
		<table class="data-table">
			<tr>
				<th width="20%">网址</th>
				<td width="80%"><%= company.homepage %></td>
			</tr>
			<tr>
				<th>公司地址</th>
				<td><%= company.address %></td>
			</tr>
			<tr>
				<th>邮箱</th>
				<td><%= company.user.email %></td>
			</tr>
		</table>
	</div>
</div>