<div class="post">
  <%= image_tag company.logo.url, :class => "company_logo bordered" %>

	<div class="company_info">
		<h3><%= company.name %></h3>
		<h5><%= company.location %></h5>
		<table class="data-table" style="width:440px; margin-top: 10px;">
			<tr>
				<th width="20%">公司地点</th>
				<td width="30%"><%= company.location %></td>
				<th width="20%">规模</th>
				<td width="30%"><%= company.size_humanize %></td>
			</tr>
			<tr>
				<th>性质</th>
				<td><%= company.company_type_humanize %></td>
				<th>点击数</th>
				<td><%= company.views_count_s %></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearer">&nbsp;</div>
<div class="content-separator w640"></div>

<% if jobs.blank? %>
  <div class="notice">该公司暂无岗位。</div>
<% else %>
  <%= render :partial => "jobs/job", :collection => jobs %>
<% end %>