<% title @job.name %>

<% content_for(:meta_info) do %>
  <meta name="keywords" content="<%= @job.tag_list.to_s %>, <%= @job.name %>" />
  <meta name="description" content="<%= strip_tags(@job.meta_description).chomp.strip.gsub(/\r|\n/,'').truncate(100) %>"/>
<% end %>

<div class="post">

  <div class="company_info">
    <div id="rating" class="right">
      <script>
        $(function(){
          $(".stars-wrapper").stars("select", <%= @starred_job.try(:rating) || 0 %>);
        })
      </script>

      <%= form_for :starred_job, :url => star_job_path(@job), :remote => true do |f| %>
        <b>收藏等级:</b>
      	<% if @starred_job %>
      	  <small>我已收藏</small>
    	  <% else %>
      	  <small></small>
      	<% end %>

        <!-- <span id="stars-cap"></span> -->
      	<div class="stars-wrapper">
      	  <%= f.radio_button :rating, "1", :title => "还行" %>
      	  <%= f.radio_button :rating, "2", :title => "不错" %>
      	  <%= f.radio_button :rating, "3", :title => "很好" %>
      	  <%= f.radio_button :rating, "4", :title => "非常好" %>
      	  <%= f.radio_button :rating, "5", :title => "极好" %>
      	</div>
    	<% end %>
  	</div>


    <h2><%= @job.name %></h2>
    <table class="data-table" style="margin-top: 10px;">
      <tr class="even">
        <th width="8%">工作地点</th>
        <td width="12%"><%= @job.location %></td>
        <th width="8%">薪资</th>
        <td width="12%"><%= @job.salary_range_humanize %></td>
        <th width="8%">工作类型</th>
        <td width="12%"><%= @job.contract_type_humanize %></td>
        <th width="8%">工作类别</th>
        <td width="12%"><%= @job.category_humanize %></td>
        <th width="8%">招聘人数</th>
        <td width="12%"><%= @job.vacancy %></td>
      </tr>
      <tr class="even">
        <th>学历要求</th>
        <td><%= @job.degree_requirement_humanize %></td>
        <th>工作年限</th>
        <td><%= @job.working_year_requirement_humanize %></td>
        <th>发布日期</th>
        <td><%= @job.start_at.try(:to_s_short_date) %></td>
        <th>有效期限</th>
        <td>还有<b><%= @job.deadline %></b>天结束</td>
        <th>点击数</th>
        <td><%= @job.increased_views_count %></td>
      </tr>
    </table>
  </div>
</div>

<div class="clearer">&nbsp;</div>
<div class="content-separator "></div>

<% [ [:content, "工作内容"], [:requirement, "岗位要求"], [:welfare, "福利待遇"], [:desc, "其他描述"], [:apply_method, "应聘方式 <small class='smallest shine'>(请注明来自ITJob.fm)</small>"] ].each do |key, value| %>
  <% next if @job.send(key).blank? %>
  <div class="post">
    <div class="post-title"><h3><%= raw value %></h3></div>
    <div class="post-body"><%= raw @job.send(key) %></div>
  </div>
  <div class="content-separator "></div>
<% end %>

<% if @job.welfare_options.size > 0 %>
<div class="post">
  <div class="post-title"><h3>福利待遇</h3></div>
  <div class="post-body">
    <ul>
    <% @job.welfare_options.each do |w| %>
    <li><%= w.name %> <span class="quiet"><%= w.desc %></span></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="content-separator"></div>
<% end %>


<% if @job.question_options.size > 0 %>
<div class="post">
  <div class="post-title"><h3>公司希望得到回答的问题 <span class="quiet smallest">您可以在您的求职信或者简历中回答这些问题。</span></h3> </div>
  <div class="post-body">
    <ul>
    <% @job.question_options.each do |w| %>
      <li><%= w.name %> <span class="quiet"><%= w.desc %></span></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="content-separator"></div>
<% end %>

<div id="job_application_form"></div>
<%= render "jobseeker/resumes/cover_letter_sample" %>

<div class="right">
  <% if current_user.try(:jobseeker).try(:applied_to_job?, @job) %>
    <%= button_to '您已经应聘过了此岗位。', "#", :remote => true, :method => :get, :class => "button largest", :disabled => true %>
  <% elsif !@job.only_use_custom_apply_method? %>
    <%= link_to '快速应聘此岗位', new_job_job_application_path(@job), :remote => true, :method => :get, :class => "right bordered button small_padding largest", :id => "apply_button" %>
  <% end %>
</div>
<div class="clearer">&nbsp;</div>


<% if @job.source.present? %>
<fieldset class="quiet middle_top_margin">
  <legend>法律提示:</legend>
  此职位信息转载自 <%= @job.source %> 以增加招聘单位的职位展示及为求职者提供方便为目的。如果招聘单位或者 <%= @job.source %> 希望删除或者更正该职位，我们将立刻配合采取行动。
</fieldset>
<% end %>