<% title "Jobseeker/Schools" %>

<table>
  <tr>
    <th>Resume</th>
    <th>Name</th>
    <th>Major</th>
    <th>Start At</th>
    <th>End At</th>
  </tr>
  <% for school in @schools %>
    <tr>
      <td><%= school.resume_id %></td>
      <td><%= school.name %></td>
      <td><%= school.major %></td>
      <td><%= school.start_at %></td>
      <td><%= school.end_at %></td>
      <td><%= link_to "Show", school %></td>
      <td><%= link_to "Edit", edit_school_path(school) %></td>
      <td><%= link_to "Destroy", school, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobseeker/School", new_school_path %></p>
