<div class="left sidebar" id="sidebar">
  <div class="section">
    <div class="section-title">
      <div class="left">我的</div>
      <div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
      <div class="clearer">&nbsp;</div>
    </div>

    <div class="section-content">
      <ul class="nice-list">
        <li>
          <div class="left"><%= link_to "工作", company_jobs_path %></div>
          <div class="right"><%= link_to "发布", new_company_job_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "收到的应聘", company_job_applications_path %></div>
          <div class="right"><%= link_to "新", company_job_applications_path(:filter => :new) %> <strong class="loud">(6)</strong> | <%= link_to "收藏", company_job_applications_path(:filter => :starred) %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <!-- <li>
          <div class="left"><a href="#">简历库</a></div>
          <div class="right">搜索 | 收藏</div>
          <div class="clearer">&nbsp;</div>
        </li> -->
        <li>
          <div class="left"><a href="#">推广服务</a></div>
          <div class="right">购买</div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><a href="#">消费管理</a></div>
          <div class="right">充值</div>
          <div class="clearer">&nbsp;</div>
        </li>
        <!-- <li>
          <div class="left"><a href="#">公司主页</a></div>
          <div class="right">开通</div>
          <div class="clearer">&nbsp;</div>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="section network-section">
    <div class="section-title">帐号管理</div>
    <div class="section-content">
      <ul class="nice-list">
        <li><a href="#">个人信息</a></li>
        <li><a href="#">更改邮件</a></li>
        <li><a href="#">更改密码</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="clearer">&nbsp;</div>