<!-- foot dashboard -->
<% if content_for?(:footer_ad_zone) %>
  <%= yield(:footer_ad_zone) %>
<% end %>

<div class="archive-separator"></div>

<!-- ### footer links -->
<div id="footer">
	<div class="left">&copy; 2002-2010 The Plant  <span class="text-separator">&rarr;</span>
	  <%= link_to "关于我们", aboutus_path %> <span class="text-separator">|</span>
	  <%= link_to "联系方式", contactus_path %> <span class="text-separator">|</span>
	  <%= link_to "公司声明", law_path %>  <span class="text-separator">|</span>
	  <%= link_to "网站合作", new_partner_path %> <span class="text-separator">|</span>
	  <%= link_to "广告服务", ad_service_path %>
	</div>
	<div class="right">Powered by <a href="http://theplant.jp/">The Plant</a></div>
	<div class="clearer">&nbsp;</div>
</div>