<script type="text/javascript">
	$(document).ready(function(){
		$('#toolbar').jfontsizer({
			applyTo: '.main',
			changesmall: '1',
			changelarge: '20',
			expire: 30
		});
	});
</script>

<div id="header">
	<div class="right" id="toolbar"></div>
	<div class="clearer">&nbsp;</div>

  <!-- #### site logo and title -->
	<div id="site-title">
		<h1><a href="#">最佳CTO</a> <span> 专注于程序员招聘求职</span></h1>
	</div>


	<div id="navigation">
    <!-- ### main nav -->
		<div id="main-nav">
		  <% if in_section?("frontend") %>
  		  <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '求职', :link => "/home/a", :highlights_on => ['/home/ab', '/home/ac', '/home/ad'] %>
          <%= n.item '招聘', :link => '/home/c', :highlights_on => ['/home/d'] %>
          <%= n.item '合作', :link => '/home/e', :highlights_on => ['/home/f'] %>
        <% end %>

        <div class="search-box">
          <form action="/jobs/search" id="search_form" method="get">
            <input id="search_term" type="text" class="text" name="term" value="Search: ‘chicago’, ‘javascript’, ‘rails’…">
          </form>
        </div>
      <% end %>
			<div class="clearer">&nbsp;</div>
		</div>

    <!-- ### sub nav -->
		<div id="sub-nav">
		  <% if in_section?("jobseeker") %>
  		  <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '所有工作', :link => "/home/a" %>
          <%#= n.item '全职工作', :link => "/home/ab" %>
          <%#= n.item '兼职工作', :link => '/home/ac' %>
          <%= n.item '所有公司', :link => '/home/ad' %>
        <% end %>
      <% elsif in_section?("company") %>
        <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '服务', :link => "/home/c" %>
          <%= n.item '加入', :link => '/home/d' %>
        <% end %>
      <% elsif in_section?("partner") %>
        <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '利益', :link => "/home/e" %>
          <%= n.item '加入', :link => '/home/f' %>
        <% end %>
      <% end %>

			<div class="clearer">&nbsp;</div>
		</div>
	</div>

</div>