<div id="header">
  <!-- #### site logo and title -->
	<div id="site-title" class="left">
	  <%= link_to image_tag("/images/logo/logo_big.gif", :alt => "专注于程序员招聘求职 - ITJob.fm"), "/" %>
	</div>

	<div class="right">
	  <%#= auto_discovery_link_tag(:atom, "/jobs.atom") %>
	  <%#= link_to image_tag("/images/rss.png", :style => "margin-top: 1.3em"), "http://feed.feedsky.com/ITJobFM", :target => "_blank" %>
	</div>

	<div class="clearer">&nbsp;</div>

  <!-- ### main nav -->
	<div id="navigation">
		<div id="main-nav">
		  <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
		    <%= n.item '首页', :link => root_path %>
        <%= n.item '找工作', :link => jobs_path %>
        <%= n.item '找公司', :link => companies_path %>
        <%= n.item "发布工作", :link => new_company_path %>
      <% end %>

      <div class="search-box">
        <%= form_for :search, :url => search_jobs_path, :html => {:id => "search_form"} do |f| %>
          <%= f.submit "搜索", :class => "button right" %>
          <%= f.text_field :keywords, :title => "请输入关键字：如JAVA，北京，微软", :class => "text tipped", :id => "search_term" %>
        <% end %>
      </div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>

</div>