<div id="header">
  <!-- <div class="right" id="toolbar"></div> -->
	<div class="clearer">&nbsp;</div>
	<br>

  <div class="right success text-center larger w100"><%= link_to "应聘者注册", new_jobseeker_resume_path %></div>
  <div class="right success text-center larger w100" style="margin-right: 10px"><%= link_to "发布工作", new_company_path %></div>

  <!-- #### site logo and title -->
	<div id="site-title">
		<h1><a href="/">IT招聘之声</a> <span>ITJob.fm 专注于程序员招聘求职</span></h1>
	</div>
	<div class="clearer">&nbsp;</div>

	<div id="navigation">
    <!-- ### main nav -->
		<div id="main-nav">
		  <% if in_section?("frontend") %>
  		  <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
  		    <%= n.item '首页', :link => root_path %>
          <%= n.item '我要求职', :link => jobs_path, :highlights_on => [companies_path, new_jobseeker_resume_path] %>
          <%= n.item '我要招聘', :link => '/home/c', :highlights_on => [new_company_path] %>
          <%= n.item '我要合作', :link => '/home/e', :highlights_on => [new_partner_path] %>
        <% end %>

        <div class="search-box">
          <form action="/jobs/search" id="search_form" method="get">
            <input id="search_term" type="text" class="text" name="term" value="Search: ‘chicago’, ‘javascript’, ‘rails’…">
          </form>
        </div>
      <% end %>
			<div class="clearer">&nbsp;</div>
		</div>

    <!-- ### sub nav -->
		<div id="sub-nav">
		  <% if in_section?("jobseeker") %>
  		  <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '所有工作', :link => jobs_path %>
          <%= n.item '所有公司', :link => companies_path %>
        <% end %>
      <% elsif in_section?("company") %>
        <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '服务', :link => "/home/c" %>
          <%= n.item '发布工作', :link => new_company_path %>
        <% end %>
      <% elsif in_section?("partner") %>
        <% semantic_navigation :main, :html => {:class => "tabbed"} do |n| %>
          <%= n.item '利益', :link => "/home/e" %>
          <%= n.item '加入我们', :link => new_partner_path %>
        <% end %>
      <% end %>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>

</div>