<fieldset>
  <legend>过滤器</legend>
  <table class="filter">
    <tr>
      <th width="30">地区</th>
      <td>
        <% %w{全部 北京 上海 杭州 广州 深圳 青岛 南京 合肥 珠海 南宁 武汉 长沙 南昌 成都 大连 宁波}.each do |location| %>
          <% location_value = location == "全部" ? "" : location %>
          <%= job_filter_link_to :location => [location, location_value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">工具</th>
      <td>
        <% %w{全部 java JSP ASP .NET c c++ PHP Python cocoa Objective-C Javascript Delphi Rails ActionScript Flash Flex VB Linux Unix Macosx MYSQL SQL SERVER ORACLE iPhone iPad}.each do |tool| %>
          <% tool_value = tool == "全部" ? "" : tool %>
          <%= job_filter_link_to :tool => [tool, tool_value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">类型</th>
      <td>
        <% JobCategory.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= job_filter_link_to :category => [key, value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">行业</th>
      <td>
        <% CompanyIndustry.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= job_filter_link_to :industry => [key, value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">工资</th>
      <td>
        <% SalaryRange.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= job_filter_link_to :salary_range => [key, value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">时间</th>
      <td>
        <% DatelineRange.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= job_filter_link_to :dateline => [key, value] %>
        <% end %>
      </td>
    </tr>
  </table>
</fieldset>