<%= jobware_form_for @resume, :url => jobseeker_resume_path, :title => "快速投简历", :html => {:multipart => true} do |f| %>
<img src="/images/icons/speed.png" class="left" />

<div class="right" style="width: 75%">
  <% show_error_message_for(f.object) %>

  <%= f.fields_for :cover_letters do |cv_form| %>
    <%= cv_form.hidden_field :name, :value => "默认求职信" %>
    <%= cv_form.cktext_area :content, :label => "求职信", :class => "h25", :skin => "office2003", :toolbar => 'Basic', :hint => raw("请仔细填写求职信，可以让公司有个好的印象。<a class='show_dialog' href='javascript:void(0)'>查看范文</a>") %>
  <% end %>
  <%= f.file_field :file, :label => "文件", :class => "text w280", :hint => "请上传 word 文档。" %>

  <!-- if current user logged in, should not send him/her password. -->
  <% if not_logged_in? %>
    <div class="archive-separator"></div>
    <%= f.fields_for :user do |user_form| %>
    <%= user_form.text_field :email, :label => "邮箱", :class => "text w440", :hint => "用于登陆。" %>
    <%= user_form.password_field :password, :label => "密码", :class => "text w440", :hint => "长度请控制在10到20位。" %>
    <%= user_form.password_field :password_confirmation, :class => "text w440", :label => "确认密码" %>
    <% end %>
    <div class="archive-separator"></div>
  <% end %>

  <%#= f.check_box :accept_terms, :label => "同意条款", :hint => raw("<a href='#'>查看条款</a>"), :required => true, :type => 'agree_term' %>
  <%= f.hidden_field :quick_resume, :value => true %>
  
  <%= show_term %>
  <%= f.submit "同意用户协议并上传简历", :class => "button right largest" %>
</div>
<% end %>


<div class="dialog-modal hidden" title="求职信范文">
  <TABLE width="95%" border="0" cellspacing="0" cellpadding="3">
    <tr><td colspan="4" class="text-center"><B><font size="3"><span class='title'>IT 人才求职信</span></font></B></td></tr>
    <tr><td height="1" colspan="4" bgcolor="#333333"></td></tr>

    <tr>
      <td height="20" colspan="4">
        <br>
        尊敬的先生/小姐：
        <br>&nbsp;&nbsp;&nbsp;&nbsp;您好！本人欲申请贵公司上海分公司技术部经理职位。我自信符合贵公司的要求。
        八年的工作经验，其间领导和参与开发了多个IT项目，受到客户和同行的好评。另外，三年的部门经理经验，在管理方面也同样出色。IT背景的管理人才一定会是您们的理想人选。
        以上只是一些简单介绍，如果有机会与您面谈，您会了解得更多，随信附有我的简历。
        <br><br>
        此致
      </td>
    </tr>

    <tr><td height="20" colspan="4" class="text-right">章某</td></tr>
    <tr><td height="20" colspan="4" class="text-right">2010.9.9</td></tr>
  </TABLE>
</div>