<% title "新建简历" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    <h3>加入我们的理由：</h3>
    <ul>
      <li>提供高质量的IT工作。</li>
      <li>提供企业更详细的资料。</li>
      <li>实时反馈企业对您简历的操作，让每次应聘都有反馈。</li>
    </ul>

    <h3>遇到困难请联系我们：</h3>
    <br>
    <ul>
      <li>邮箱：info@itjob.fm</li>
      <li>电话：0571-28820982</li>
    </ul>
  </div>

  <div class="left" id="main-left">
    <% if params[:type] == "builder" %>
      <!-- new user form -->
      <%= jobware_form_for @resume, :url => jobseeker_resume_path(:type => 'builder'), :use_fieldset => false, :html => { :multipart => true } do |f| %>
        <%= render "form", :f => f %>
        <%= render "shared/new_user_form", :f => f if not_logged_in? %>
        <%= show_term %>
        <%= f.submit "同意用户协议并创建简历", :class => "button right" %>
      <% end %>
    <% elsif params[:type] == "file" %>
      <%= render "file_resume_form" %>
    <% elsif params[:type] == "url" %>
      <%= render "url_resume_form" %>
    <% else %>
      <p class="notice">请选择正确的简历形式。</p>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>