<% title "新建简历" %>

<div class="main">
  <div class="left" style="width: 310px;">
    <%= jobware_form_for UserSession.new, :as => :user_session, :url => sessions_path, :title => "已经是注册用户" do |f| %>
      <%= render :partial => "sessions/form", :locals => { :f => f } %>
      <%= f.submit "登陆" %>
    <% end %>
  </div>

  <div class="right" style="width: 640px;">
    <%= render "quick_resume_form" %>
  </div>

  <div class="right" style="width: 640px;">
    <fieldset class="big">
      <legend>简历向导（推荐）</legend>
      <img src="/images/icons/TextEdit.png" class="left" />

      <div style="width: 75%" class="right">
        <p>如果您还不是我们的个人会员，请您先注册。</p>
        <p>只需注册并创建一份简历，您就可以随时查询和订阅最新的工作机会信息，应聘您心仪的岗位，并享受职位推荐、HR主动搜索等会员服务。</p>
        <p>同时您还可以享受到免费的简历修改指导、分行业职业指导、个人适岗性测评、律师在线指导等全方位的个人服务。</p>

        <div class="right">
          <div class="btn"><%= link_to "开始填写简历", new_jobseeker_resume_path, :class => "black" %><span></span></div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="clearer">&nbsp;</div>
</div>