<%= field_set_tag "工作信息", :class => 'big' do %>
  <%= f.text_field :name, :label => "名称", :class => "text w620", :value => @staging_job.name.try(:html_safe) %>
  <%= f.city_select :location_province, :location_city, :label => "工作所在地", :hint => "快捷设定: <input type='text' id='job_location' name='job_location' class='text' value='#{@staging_job.location.try(:html_safe)}' />".html_safe %>
  <%= f.text_field :vacancy, :label => "岗位数", :class => "text w620", :value => @staging_job.vacancy.try(:html_safe) %>
  <%= f.select :contract_type, ContractType.to_sorted_a, {:include_blank => false}, { :label => "工作类型" } %>
  <%= f.select :category, JobCategory.to_sorted_a, {:include_blank => true}, {:label => "类别"} %>
  <%= f.select :salary_range, SalaryRange.to_sorted_a, :label => "薪资范围", :hint => @staging_job.salary_range.try(:html_safe) %>
  <%= f.select :working_year_requirement, WorkingYearRequirement.to_sorted_a, :label => "工作年限", :hint => @staging_job.work_year_requirement.try(:html_safe) %>
  <%= f.select :degree_requirement, DegreeRequirement.to_sorted_a, :label => "学历要求", :hint => @staging_job.degree_requirement.try(:html_safe) %>
  <%= f.cktext_area(:content, :id => "job_content", :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "工作内容") %>
  <%= f.cktext_area(:requirement, :id => "job_requirement", :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "岗位需求") %>

  <a href="javascript:void(0)" id="showWelfareOptionButton"><h2 style="color:blue">显示福利和提问选项 >>></h2></a>
  <div class="welfareOption" style="display:none"><%= render "optional_options", :f => f %></div>
  <%#= f.cktext_area(:apply_method, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "应聘方式 (可选)", :hint => "如果你公司有自己的应聘系统，或者希望应聘者发送简历到公司邮箱，请填写在这里。") %>
  <%#= f.cktext_area(:desc, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "其他描述") %>
  <%= f.text_field :tag_list, :label => "岗位关键字", :class => "text w620", :hint => "岗位关键字会显示在岗位列表里，帮助求职者快速找到符合的工作。例如：c++, java, ruby on rails, css等。最多只能添加5个关键字。" %>
  <%#= f.check_box :only_use_custom_apply_method, :label => "只使用自定义应聘方式", :hint => "选中后系统自带的应聘系统将不会被使用。" %>
  <%#= f.check_box :highlighted, :label => "是否高亮显示？", :hint => "选中后该工作在任何列表里都将高亮显示，增加显示效果，但是需要购买“岗位高亮”点数。" if f.object.new_record? or !f.object.available? %>
  <%#= f.check_box :keep_top, :label => "是否置顶？", :hint => "选中后该工作将显示在工作列表顶部，应聘者将在第一时间看到，但是需要支付“岗位置顶”点数。" if f.object.new_record? or !f.object.available? %>
  <%= f.text_field :themes, :label => "主题站", :hint => "必须在#{THEMES.keys.inspect}范围中。" %>
<% end %>

<script>
$(function(){
  $('#company_jobs_attributes_0_location_province').val('<%= f.object.location_province %>').change();
  $('#company_jobs_attributes_0_location_city').val('<%= f.object.location_city %>');
})
</script>