<%= javascript_include_tag "jquery", "jquery.tipsy", "easySlider", "jquery.lazyload", "jquery.marquee", "jquery.timers", "jquery.scrollTo", "ui.datepicker-zh-CN", "jquery.tools.min", "jquery-ui", "jquery.ui.stars", "jquery.cookies", "jquery.formtips", "jquery.citySelector", "coin-slider", "rails", :ckeditor, "application", "underscore", "backbone" %>
<%= stylesheet_link_tag "application", "step_bar", "pagination", "tipsy", "jquery-ui", "jquery.ui.stars", "coin-slider-styles", "sprite" %>

<script>
  var citylist = [
    ["北京","东城","西城","崇文","宣武","朝阳","丰台","石景山","海淀","门头沟","房山","通州","顺义","昌平","大兴","平谷","怀柔","密云","延庆"],
    ["上海","黄浦","卢湾","徐汇","长宁","静安","普陀","闸北","虹口","杨浦","闵行","宝山","嘉定","浦东","金山","松江","青浦","南汇","奉贤","崇明"],
    ["天津","和平","东丽","河东","西青","河西","津南","南开","北辰","河北","武清","红挢","塘沽","汉沽","大港","宁河","静海","宝坻","蓟县"],
    ["重庆","万州","涪陵","渝中","大渡口","江北","沙坪坝","九龙坡","南岸","北碚","万盛","双挢","渝北","巴南","黔江","长寿","綦江","潼南","铜梁","大足","荣昌","壁山","梁平","城口","丰都","垫江","武隆","忠县","开县","云阳","奉节","巫山","巫溪","石柱","秀山","酉阳","彭水","江津","合川","永川","南川"],
    ["河北","石家庄","邯郸","邢台","保定","张家口","承德","廊坊","唐山","秦皇岛","沧州","衡水"],
    ["山西","太原","大同","阳泉","长治","晋城","朔州","吕梁","忻州","晋中","临汾","运城"],
    ["内蒙古","呼和浩特","包头","乌海","赤峰","呼伦贝尔盟","阿拉善盟","哲里木盟","兴安盟","乌兰察布盟","锡林郭勒盟","巴彦淖尔盟","鄂市"],
    ["辽宁","沈阳","大连","鞍山","抚顺","本溪","丹东","锦州","营口","阜新","辽阳","盘锦","铁岭","朝阳","葫芦岛"],
    ["吉林","长春","吉林","四平","辽源","通化","白山","松原","白城","延边"],
    ["黑龙江","哈尔滨","齐齐哈尔","牡丹江","佳木斯","大庆","绥化","鹤岗","鸡西","黑河","双鸭山","伊春","七台河","大兴安岭"],
    ["江苏","南京","镇江","苏州","南通","扬州","盐城","徐州","连云港","常州","无锡","宿迁","泰州","淮安"],
    ["浙江","杭州","宁波","温州","嘉兴","湖州","绍兴","金华","衢州","舟山","台州","丽水"],
    ["安徽","合肥","芜湖","蚌埠","马鞍山","淮北","铜陵","安庆","黄山","滁州","宿州","池州","淮南","巢湖","阜阳","六安","宣城","亳州"],
    ["福建","福州","厦门","莆田","三明","泉州","漳州","南平","龙岩","宁德"],
    ["江西","南昌市","景德镇","九江","鹰潭","萍乡","新馀","赣州","吉安","宜春","抚州","上饶"],
    ["山东","济南","青岛","淄博","枣庄","东营","烟台","潍坊","济宁","泰安","威海","日照","莱芜","临沂","德州","聊城","滨州","菏泽"],
    ["河南","郑州","开封","洛阳","平顶山","安阳","鹤壁","新乡","焦作","濮阳","许昌","漯河","三门峡","南阳","商丘","信阳","周口","驻马店","济源"],
    ["湖北","武汉","鄂州","宜昌","荆州","襄樊","黄石","荆门","黄冈","十堰","恩施","潜江","天门","仙桃","随州","咸宁","孝感"],
    ["湖南","长沙","常德","株洲","湘潭","衡阳","岳阳","邵阳","益阳","娄底","怀化","郴州","永州","湘西","张家界"],
    ["广东","广州","深圳","珠海","汕头","东莞","中山","佛山","韶关","江门","湛江","茂名","肇庆","惠州","梅州","汕尾","河源","阳江","清远","潮州","揭阳","云浮"],
    ["广西","南宁","柳州","桂林","梧州","北海","防城港","钦州","贵港","玉林","南宁地区","柳州地区","贺州","百色","河池"],
    ["海南","海口","三亚"],
    ["四川","成都","绵阳","德阳","自贡","攀枝花","广元","内江","乐山","南充","宜宾","广安","达川","雅安","眉山","甘孜","凉山","泸州"],
    ["贵州","贵阳","六盘水","遵义","安顺","铜仁","黔西南","毕节","黔东南","黔南"],
    ["云南","昆明","大理","曲靖","玉溪","昭通","楚雄","红河","文山","思茅","西双版纳","保山","德宏","丽江","怒江","迪庆","临沧"],
    ["西藏","拉萨","日喀则","山南","林芝","昌都","阿里","那曲"],
    ["陕西","西安","宝鸡","咸阳","铜川","渭南","延安","榆林","汉中","安康","商洛"],
    ["甘肃","兰州","嘉峪关","金昌","白银","天水","酒泉","张掖","武威","定西","陇南","平凉","庆阳","临夏","甘南"],
    ["宁夏","银川","石嘴山","吴忠","固原"],
    ["青海","西宁","海东","海南","海北","黄南","玉树","果洛","海西"],
    ["新疆","乌鲁木齐","石河子","克拉玛依","伊犁","巴音郭勒","昌吉","克孜勒苏柯尔克孜","博尔塔拉","吐鲁番","哈密","喀什","和田","阿克苏"],
    ["香港","香港"],
    ["澳门","澳门"],
    ["台湾","台北","高雄","台中","台南","屏东","南投","云林","新竹","彰化","苗栗","嘉义","花莲","桃园","宜兰","基隆","台东","金门","马祖","澎湖"],
    ["国外","美国","日本","澳大利亚","德国","英国","韩国","加拿大","其他"],
    ["不限","可远程"]
  ];

  function selectByString(str, inputEl) {
    str = str.trim();
    var found = false;
    $.each( citylist, function(i, province_cities){
      $.each(province_cities, function(j, city){
        if(city == str && province_cities[0] != str) {
          inputEl.parents("div.form-value").find(".province").val(province_cities[0]);
          inputEl.parents("div.form-value").find(".province").change();
          inputEl.parents("div.form-value").find(".city").val(city);
          found = true;
        } else if(province_cities[0] == str) {
          inputEl.parents("div.form-value").find(".province").val(province_cities[0]);
          inputEl.parents("div.form-value").find(".province").change();
          found = true;
        }
      });
    });
    // not found
    if(!found) { alert("not found both city and province."); }
  }

  $(function(){
    $("#showWelfareOptionButton").click(function(){
      $(".welfareOption").toggle();
    });

    $("#job_location, #company_location").change(function(){
      selectByString($(this).val(), $(this));
    });

    $("#company_tag_list, #company_jobs_attributes_0_tag_list").change(function(){
      $("#company_tag_list, #company_jobs_attributes_0_tag_list").val($(this).val());
    });

    $("#company_themes, #company_jobs_attributes_0_themes").change(function(){
      $("#company_themes, #company_jobs_attributes_0_themes").val($(this).val());
    });

    //// set ckeditor value.
    CKEDITOR.instances.company_desc_editor.setData("<%= CGI::unescapeHTML(@staging_job.company_desc.try(:html_safe).to_s).gsub(/\"/, "'").gsub(/\s/, '') %>");
    CKEDITOR.instances.job_requirement.setData("<%= CGI::unescapeHTML(@staging_job.desc.try(:html_safe).to_s).gsub('"', "'").gsub(/\s/, '') %>");
  });
</script>

<h2><%= link_to @staging_job.page_url.try(:html_safe), @staging_job.page_url.try(:html_safe), :target => "_blank" if @staging_job.page_url.present? %></h2>

<%= jobware_form_for @company, :url => {:action => :import}, :use_fieldset => false, :html => {:multipart => true} do |f| %>
  <%= field_set_tag "登录帐号", :class => 'big' do %>
    <%= f.fields_for :user do |user_f| %>
      <%= user_f.text_field :email, :label => "邮箱", :hint => @staging_job.email.try(:html_safe) %>
      <%= user_f.password_field :password, :label => "密码", :value => "135531" %>
      <%= user_f.password_field :password_confirmation, :label => "确认密码", :value => "135531" %>
    <% end %>
  <% end %>

  <%= field_set_tag "公司信息", :class => 'big' do %>
    <%= f.text_field :name, :label => "公司名", :class => "text w620", :value => @staging_job.company_name.try(:html_safe) %>
    <%= f.select :company_type, CompanyType.to_sorted_a, {:include_blank => true, :selected => calculate_company_type(@staging_job).try(:last) }, {:label => "性质", :hint => @staging_job.company_type.try(:html_safe)} %>
    <%= f.select :size, CompanySize.to_sorted_a, {:include_blank => true}, {:label => "规模", :hint => @staging_job.company_size.try(:html_safe)} %>
    <%= f.select :industry, CompanyIndustry.to_sorted_a, {:include_blank => true, :selected => calculate_industry(@staging_job).try(:last) }, {:label => "行业", :hint => @staging_job.industry.try(:html_safe)} %>
    <%= f.city_select :province, :city, :label => "所在地", :hint => "快捷设定: <input type='text' id='company_location' name='company_location' class='text' value='#{@staging_job.location.try(:html_safe)}' />".html_safe %>
    <%= f.text_field :address, :label => "地址", :class => "text w620", :value => @staging_job.company_address.present? ? @staging_job.company_address.try(:html_safe) : @staging_job.location.try(:html_safe) %>
    <%= f.text_field :homepage, :label => "网址", :class => "text w620", :value => @staging_job.company_homepage.try(:html_safe) %>
    <%= f.text_field :contact_name, :label => "联系人(加上邮箱)", :class => "text w620",
      :value => "#{@staging_job.company_contact_name.try(:html_safe)} #{@staging_job.email.try(:html_safe)}",
      :hint => "#{@staging_job.company_contact_name.try(:html_safe)} #{@staging_job.email.try(:html_safe)}"
    %>
    <%= f.text_field :phone_number, :label => "联系电话", :class => "text w620", :value => @staging_job.company_phone_number.try(:html_safe) %>
    <%#= f.check_box :open_contact, :label => "公开联系方式", :hint => "如果您希望应聘者直接联系您，请勾选此项。" %>
    <%= f.cktext_area(:desc, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "公司简介") %>
    <%= f.file_field :logo, :label => "公司LOGO", :hint => "最佳尺寸是283x50。" %>
    <%= image_tag f.object.logo.url if f.object.logo.size %>
    <%= f.text_field :tag_list, :label => "公司关键字", :class => "text w620", :hint => "描述公司的行业，或者主要需要招聘人才的类型等关键字，如 php,游戏,web game。注意请用英文的逗号隔开关键字。" %>
    <%= f.text_field :themes, :label => "主题站", :hint => "必须在#{THEMES.inspect}范围中。" %>
  <% end %>

  <%= field_set_tag "工作信息", :class => 'big' do %>
    <%= f.fields_for :jobs do |job_f| %>
      <%= job_f.text_field :name, :label => "名称", :class => "text w620", :value => @staging_job.name.try(:html_safe) %>
      <%= job_f.city_select :location_province, :location_city, :label => "工作所在地", :hint => "快捷设定: <input type='text' id='job_location' name='job_location' class='text' value='#{@staging_job.location.try(:html_safe)}' />".html_safe %>
      <%= job_f.text_field :vacancy, :label => "岗位数", :class => "text w620", :value => @staging_job.vacancy.try(:html_safe) %>
      <%= job_f.select :contract_type, ContractType.to_sorted_a, {:include_blank => false}, { :label => "工作类型" } %>
      <%= job_f.select :category, JobCategory.to_sorted_a, {:include_blank => true}, {:label => "类别"} %>
      <%= job_f.select :salary_range, SalaryRange.to_sorted_a, :label => "薪资范围", :hint => @staging_job.salary_range.try(:html_safe) %>
      <%= job_f.select :working_year_requirement, WorkingYearRequirement.to_sorted_a, :label => "工作年限", :hint => @staging_job.work_year_requirement.try(:html_safe) %>
      <%= job_f.select :degree_requirement, DegreeRequirement.to_sorted_a, :label => "学历要求", :hint => @staging_job.degree_requirement.try(:html_safe) %>
      <%= job_f.cktext_area(:content, :id => "job_content", :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "工作内容") %>
      <%= job_f.cktext_area(:requirement, :id => "job_requirement", :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "岗位需求") %>

      <a href="javascript:void(0)" id="showWelfareOptionButton"><h2 style="color:blue">显示福利和提问选项 >>></h2></a>
      <div class="welfareOption" style="display:none"><%= render "optional_options", :f => job_f %></div>
      <%#= job_f.cktext_area(:apply_method, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "应聘方式 (可选)", :hint => "如果你公司有自己的应聘系统，或者希望应聘者发送简历到公司邮箱，请填写在这里。") %>
      <%#= job_f.cktext_area(:desc, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "其他描述") %>
      <%= job_f.text_field :tag_list, :label => "岗位关键字", :class => "text w620", :hint => "岗位关键字会显示在岗位列表里，帮助求职者快速找到符合的工作。例如：c++, java, ruby on rails, css等。最多只能添加5个关键字。" %>
      <%#= job_f.check_box :only_use_custom_apply_method, :label => "只使用自定义应聘方式", :hint => "选中后系统自带的应聘系统将不会被使用。" %>
      <%#= job_f.check_box :highlighted, :label => "是否高亮显示？", :hint => "选中后该工作在任何列表里都将高亮显示，增加显示效果，但是需要购买“岗位高亮”点数。" if job_f.object.new_record? or !job_f.object.available? %>
      <%#= job_f.check_box :keep_top, :label => "是否置顶？", :hint => "选中后该工作将显示在工作列表顶部，应聘者将在第一时间看到，但是需要支付“岗位置顶”点数。" if job_f.object.new_record? or !job_f.object.available? %>
      <%= job_f.text_field :themes, :label => "主题站", :hint => "必须在#{THEMES.inspect}范围中。" %>
    <% end %>
  <% end %>

  <%= f.submit "提交" %>
<% end %>