<%= link_to "返回添加页面", "/admin/jobs/new" %>
<hr/>

<h2>未保存成功的记录</h2>
<% @unsaved_jobs.each do |job| %>
  <div>
    X <b><%= job.origin_id %> - <%= job.name %></b>
    <%= job.errors.inspect %>
  </div>
  <hr/>
<% end %>

<h2>保存成功的记录</h2>
<% @saved_jobs.each do |job| %>
  <div>
    √ <b><%= job.origin_id %></b>
    <%= job.name.html_safe %>
  </div>
  <hr/>
<% end %>