<div class="left sidebar" id="sidebar">
  <div class="section">
    <div class="section-title">
      <div class="left">我的</div>
      <div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
      <div class="clearer">&nbsp;</div>
    </div>

    <div class="section-content">
      <ul class="nice-list">
        <li>
          <div class="left"><%= link_to "工作", company_jobs_path %> <small class="quiet">(<%= current_user.company.jobs.opened.count %>/<%= current_user.company.jobs.count %> 个展示中)</small></div>
          <% remained_job_credits = current_user.remains(ServiceItem.job_credit_id) %>
          <div class="right">
            <%= link_to "发布", remained_job_credits > 0 ? new_company_job_path : "javascript:alert('没有岗位发布点数，请购买后再发布。');" %> <small class="quiet">(剩 <%= remained_job_credits %> 点)</small></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left">
            <%= link_to "收到的应聘", company_job_applications_path %> 
            <small class="quiet">(<%= current_user.company.job_applications.unread.count %>/<%= current_user.company.job_applications.count %> 已阅读)</small>
          </div>
          <div class="right">
            <%= display_new_jobapplication_count %>
            <%= link_to "已收藏", company_job_applications_path(:filter => :starred) %>
            <small class="quiet">(<%= current_user.company.job_applications.starred.count %>)</small>
          </div>
          <div class="clearer">&nbsp;</div>
        </li>
        <!--
        <li>
          <div class="left"><a href="#">简历库</a></div>
          <div class="right">搜索 | 收藏</div>
          <div class="clearer">&nbsp;</div>
        </li>
        -->
        <li>
          <div class="left"><%= link_to "公司信息", company_company_path %></div>
          <div class="right"><%= link_to "管理", edit_company_company_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="section network-section">
    <div class="section-title">企业服务</div>
    <div class="section-content">
      <ul class="nice-list">
        <li>
          <div class="left">
            <%= link_to "广告管理", company_ads_path %>
            <small class="quiet">(<%= current_user.company.ads.opened.count %>/<%= current_user.company.ads.count %> 展示中)</small>
          </div>
          <div class="right"><%= link_to "发布", plans_company_ads_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "增值服务", company_services_path %></div>
          <div class="right"><%= link_to "已购买列表", bought_company_services_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "消费充值记录", company_transactions_path %></div>
          <div class="right"><%= link_to "充值", new_company_transaction_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clearer">&nbsp;</div>