<div class="left sidebar" id="sidebar">
  <div class="section">
    <div class="section-title">
      <div class="left">我的</div>
      <div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
      <div class="clearer">&nbsp;</div>
    </div>

    <div class="section-content">
      <ul class="nice-list">
        <li>
          <div class="left"><%= link_to "工作", company_jobs_path %></div>
          <div class="right"><%= link_to "发布", new_company_job_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "收到的应聘", company_job_applications_path %></div>
          <div class="right">
            <%= display_new_jobapplication_count %>
            <%= link_to "收藏", company_job_applications_path(:filter => :starred) %>
          </div>
          <div class="clearer">&nbsp;</div>
        </li>
        <!-- <li>
          <div class="left"><a href="#">简历库</a></div>
          <div class="right">搜索 | 收藏</div>
          <div class="clearer">&nbsp;</div>
        </li> -->
        <li>
          <div class="left"><%= link_to "公司信息", company_company_path %></div>
          <div class="right"><%= link_to "管理", edit_company_company_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="section network-section">
    <div class="section-title">增值服务</div>
    <div class="section-content">
      <ul class="nice-list">
        <li>
          <div class="left"><%= link_to "广告管理", company_ads_path %></div>
          <div class="right"><%= link_to "发布", new_company_ad_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "高级服务", company_services_path %></div>
          <div class="right"><%= link_to "已购买", bought_company_services_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
        <li>
          <div class="left"><%= link_to "消费管理", company_transactions_path %></div>
          <div class="right"><%= link_to "充值", new_company_transaction_path %></div>
          <div class="clearer">&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clearer">&nbsp;</div>