<div class="left sidebar" id="sidebar">
	<div class="section">
		<div class="section-title">
			<div class="left">我的</div>
			<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="section-content">
			<ul class="nice-list">
			  <li>
					<div class="left"><%= link_to "收藏的工作", jobseeker_starred_jobs_path %></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "应聘记录", jobseeker_job_applications_path %></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "简历", jobseeker_resume_path %></div>
					<div class="right"><%= link_to "修改", edit_jobseeker_resume_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section network-section">
		<div class="section-title">服务</div>
		<div class="section-content">
			<ul class="nice-list">
				<li>
					<div class="left"><%= link_to "订阅工作", edit_jobseeker_subscription_path %></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "高级服务", jobseeker_services_path %></div>
					<div class="right"><%= link_to "已购买", bought_jobseeker_services_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "消费记录", jobseeker_transactions_path %></div>
					<div class="right"><%= link_to "充值", new_jobseeker_transaction_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>

</div>

<div class="clearer">&nbsp;</div>