<div class="left sidebar" id="sidebar">
	<div class="section">
		<div class="section-title">
			<div class="left">我的</div>
			<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="section-content">
			<ul class="nice-list">
				<li>
					<div class="left"><%= link_to "广告位", partner_ad_positions_path %></div>
					<div class="right"><%= link_to "添加", new_partner_ad_position_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "收入管理", partner_transactions_path %></div>
					<div class="right"><%= link_to "提现", withdraw_partner_transactions_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "修改信息", edit_partner_path %></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="clearer">&nbsp;</div>