<!-- ### highlighted -->
<div class="post">
  <!-- click -->
  <div class="archive-post-date">
    <div class="archive-post-day"><%= company.views_count_s %></div>
    <div class="archive-post-month">点击</div>
  </div>

  <!-- logo -->
  <div class="company_logo">
    <%= link_to image_tag(company.logo.url, :class => "aligncenter bordered company_logo"), company %>
  </div>

	<!-- title and company -->
	<div class="archive-post-title">
		<h3><b>[<%= company.company_type_humanize %></b>] <%= link_to company.name, company %></h3>
		<div class="small_top_margin small_bottom_margin"><%= show_tag_list company.tag_list, "/companies" %></div>

		<div class="post-date">
		  <ul>
		  <% company.jobs.opened.limit(3).each do |job| %>
		    <li><%= link_to job.name, job %></li>
		  <% end %>
		  </ul>
		</div>
	</div>

	<!-- address and date -->
	<div class="archive-post-address">
		<h3><%= company.province %> - <%= company.city %></h3>
		<div class="post-date text-center">发布于 <%= company.updated_at.to_s_short_date %></div>
		<div class="right bordered small_top_margin">共有 <b><%= company.jobs.opened.count %></b> 个岗位</div>
	</div>
	<div class="clearer">&nbsp;</div>
</div>

<div class="archive-separator"></div>