<!-- ### highlighted -->
<div class="post">
  <!-- logo -->
  <div class="company_logo">
    <%= link_to image_tag(company.logo.url, :class => "aligncenter bordered company_logo"), company %>
  </div>

	<!-- title and company -->
	<div class="archive-post-title">
		<h3><b>[<%= company.company_type_humanize %></b>] <%= link_to company.name, company %></h3> 
		<div class="post-date"><a href="#">java, ecommerce, php, mysql</a></div>
	</div>

	<!-- address and date -->
	<div class="archive-post-address">
		<h3><%= company.province %> - <%= company.city %></h3>
		<div class="post-date"><%= company.updated_at.to_s_datetime %></div>
	</div>
	<div class="clearer">&nbsp;</div>
</div>

<div class="archive-separator"></div>