<% title "Companies" %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Type</th>
    <th>Size</th>
    <th>Province</th>
    <th>City</th>
    <th>Address</th>
    <th>Homepage</th>
    <th>Contact Name</th>
    <th>Phone Number</th>
    <th>Desc</th>
  </tr>
  <% for company in @companies %>
    <tr>
      <td><%= company.user_id %></td>
      <td><%= company.name %></td>
      <td><%= company.type %></td>
      <td><%= company.size %></td>
      <td><%= company.province %></td>
      <td><%= company.city %></td>
      <td><%= company.address %></td>
      <td><%= company.homepage %></td>
      <td><%= company.contact_name %></td>
      <td><%= company.phone_number %></td>
      <td><%= company.desc %></td>
      <td><%= link_to "Show", company %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Destroy", company, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Company", new_company_path %></p>
