<% title "发布工作" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    <h3>加入我们的理由：</h3>
    <br>
    <ul>
      <li>拥有众多合作社区，将工作直接推送到IT技术社区，更直接地呈现给IT精英。</li>
      <li>详细图表显示工作被关注情况。</li>
      <li>我们能够帮助您更好的展示公司。</li>
      <li>专注于IT招聘，保证求职者质量。</li>
    </ul>

    <h3>遇到困难请联系我们：</h3>
    <br>
    <ul>
      <li>邮箱：info@itjob.fm</li>
      <li>电话：0571-28820982</li>
    </ul>
  </div>

  <div class="left" id="main-left">
    <div class="notice largest">要发布工作请先注册公司。</div>
    <%= jobware_form_for @company, :use_fieldset => false, :html => {:multipart => true} do |f| %>
      <%= field_set_tag "公司信息", :class => 'big' do %>
        <%= render "companies/form", :f => f %>
      <% end %>
      <%= render "shared/new_user_form", :f => f %>
      <%= show_term %>
      <%= f.submit "同意用户协议并注册公司", :class => "right button" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>