<% title "发布工作" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    注意事项
  </div>

  <div class="left" id="main-left">
    <%= jobware_form_for @company, :use_fieldset => false, :html => {:multipart => true} do |f| %>
      <%= field_set_tag "工作信息", :class => 'big' do %>
        <%= f.fields_for :jobs do |job_form| %>
          <%= render 'company/jobs/form', :f => job_form %>
        <% end %>
      <% end %>

      <%= field_set_tag "公司信息", :class => 'big' do %>
        <%= render "companies/form", :f => f %>
        <%= f.check_box :accept_terms, :label => "同意条款", :hint => raw("<a href='#'>查看条款</a>"), :required => true, :type => 'agree_term' %>
      <% end %>

      <%= render "shared/new_user_form", :f => f %>
      <%= f.submit "发布", :class => "right button" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>