<div class="post">
	<div class="post-title"><h3>基本信息</h3></div>

	<div class="company_info">
		<table class="data-table" style="margin-top: 10px;">
			<tr class="even">
				<th width="5%">公司地点</th>
				<td width="10%"><%= @company.location %></td>
				<th width="5%">规模</th>
				<td width="10%"><%= @company.size_humanize %></td>
				<th width="5%">性质</th>
				<td width="10%"><%= @company.company_type_humanize %></td>
				<th width="5%">点击数</th>
				<td width="10%"><%= @company.increased_views_count %></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearer">&nbsp;</div>
<div class="content-separator "></div>


<div class="post">
	<div class="post-title"><h3>公司简介</h3></div>
	<div class="post-body">
	  <%= raw @company.desc %>
	</div>
</div>

<div class="content-separator "></div>

<% if @company.products.count > 0 %>
<div class="post">
	<div class="post-title"><h3>公司产品</h3></div>
	<div class="post-body">
		<table class="data-table top-vlign top-vlign-td">
		  <% @company.products.each do |p| %>
			<tr class="even">
		    <th colspan="2"><h3><%= p.name %></h3></th>
		  </tr>
			<tr class="even">
				<td width="20%"><%= image_tag p.file.url, :class => "bordered w200" %></td>
				<td width="80%"><%= raw p.desc %></td>
			</tr>
      <% end %>
		</table>
	</div>
</div>
<div class="content-separator "></div>
<% end %>

<div class="post">
	<div class="post-title"><h3>联系方式</h3></div>
	<div class="post-body ">
		<table class="data-table">
			<tr class="even">
				<th width="10%">网址</th>
				<td width="40%"><%= @company.homepage %></td>
				<th width="10%">邮箱</th>
				<td width="40%"><%= @company.user.email %></td>
			</tr>
			<tr class="even">
			  <th>公司地址</th>
				<td colspan="3"><%= @company.address %></td>
			</tr>
		</table>
	</div>
</div>