<%= page_name_html("#{@ad.try(:name)||@ad.display_type_humanize}", :with_title => true) %>

<table class="data-table top-vlign">
  <% if @ad.opened? and @ad.start_at and @ad.end_at %>
	<tr>
	  <th>展示时间</th>
		<td><%= @ad.start_at.to_s_date %> - <%= @ad.end_at.to_s_date %></td>
	</tr>
	<% end %>

  <% if @ad.image.size.present? %>
	<tr>
	  <th>广告图片</th>
		<td><%= image_tag @ad.image.url %></td>
	</tr>
	<% end %>

	<%
	  {
	    :display_type_humanize => "广告形式",
	    :name => "广告标题",
	    :location => "地区",
	    :desc => "广告内容",
	    :url => "广告链接"
	  }.each do |k, v|
	    next if @ad.send(k).blank?
	%>
    	<tr>
    	  <th width="50px"><%= v %></th>
    		<td><%= raw @ad.send(k) %></td>
    	</tr>
	<% end %>

	<tr>
	  <th>展示周期</th>
	  <td><%= @ad.period %></td>
	</tr>
	<tr>
	  <th>状态</th>
		<td><%= @ad.display_state %></td>
	</tr>
</table>

<br />
<h2>效果预览</h2>
<div class="archive-separator"></div>
<%= render "company/ads/preview/#{@ad.preview_partial_name}", :ad => @ad %>

<div class="clearer">&nbsp;</div><br>
<%= button_to_function "修改", "$(location).attr('href','#{edit_company_ad_path(@ad)}')", :class => 'largest right button' unless @ad.opened? %>
<h3 class="right middle_right_margin"><%= link_to "返回列表", company_ads_path %></h3>