<%
  total_amount = 0
  monthly_income = 0
%>
<div>
  <% show_no_record(@transactions) do %>
  <table class="data-table small">
    <tr>
      <th width="40">类型</th>
      <th>来源公司</th>
      <th>时间</th>
      <th width="80">数量</th>
      <th width="80">剩余</th>
    </tr>
    <% @transactions.each do |k, v| %>
      <tr>
        <td colspan="5" class="largest bold"><%= k %></td>
      </tr>
      <% monthly_income = 0 %>
      <% v.each do |tx| %>
        <% monthly_income += tx.amount %>
        <% total_amount += tx.amount %>
        <tr class="even">
          <td><%= tx.service_item.name %></td>
          <td><%= tx.user.company.name %></td>
          <td><%= tx.created_at.to_s_datetime %></td>
          <td class="large"><%= format_price(tx.amount, :with_plus => true) %></td>
          <td class="large"><%= format_price(total_amount) %></td>
        </tr>
      <% end %>
      <tr class="even">
        <td colspan="5" class="text-right bold large">当月收入：<%= format_price monthly_income %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5">
        <h3 class="right">总收入：<%= format_price(total_amount) %></h3>
      </td>
    </tr>
  </table>
  <% end %>
</div>