<% 
  total_amount = 0 
  transaction_is_money = @transactions.first.try(:is_money?)
%>

<div>
  <% show_no_record(@transactions) do %>
  <table class="data-table small">
  	<tr>
  	  <th>类型</th>
  	  <th>来源</th>
  	  <th>去往</th>
  	  <th>时间</th>
  		<th>数量</th>
      <th>剩余</th>
  	</tr>
  	<% @transactions.each do |tx| %>
  	<% total_amount += tx.amount %>
  	<tr class="even">
  		<td><%= tx.service_item.name %></td>
  		<td><%= tx.from %></td>
  		<td><%= tx.to %></td>
  		<td><%= tx.created_at.to_s_datetime %></td>
  		<td class="large"><%= transaction_is_money ? format_price(tx.amount, :with_plus => true) : tx.amount_s %></td>
  		<td class="large"><%= transaction_is_money ? format_price(total_amount) : total_amount %></td>
  	</tr>
    <% end %>
  </table>
  <% end %>
</div>

<h3 class="right middle_top_margin middle_bottom_margin">帐户余额：<%= transaction_is_money ? format_price(total_amount) : total_amount %></h3>