<%
  total_amount = 0
  transaction_is_money = @transactions.first.try(:is_money?)
%>

<div>
  <% show_no_record(@transactions) do %>
  <table class="data-table small">
    <tr>
      <th width="75">类型</th>
      <th>来龙去脉</th>
      <th>时间</th>
      <th width="80">数量</th>
      <th width="80">剩余</th>
    </tr>
    <% @transactions.each do |tx| %>
    <% total_amount += tx.amount %>
    <tr class="even">
      <td><%= tx.service_item.name %></td>
      <td>
        <b>来源：</b><%= tx.from %><br>
        <b>去向：</b><%= tx.to %>
      </td>
      <td><%= tx.created_at.to_s_datetime %></td>
      <td class="large"><%= transaction_is_money ? format_price(tx.amount, :with_plus => true) : tx.amount_s %></td>
      <td class="large"><%= transaction_is_money ? format_price(total_amount) : total_amount %></td>
    </tr>
    <% end %>
    
    <tr>
      <td colspan="5">
        <h3 class="right">帐户余额：<%= transaction_is_money ? format_price(total_amount) : total_amount %></h3>
      </td>
    </tr>
  </table>
  <% end %>
</div>