<% title "消费记录" %>

<script type="text/javascript">
  $(function() {
    // { cookie: { expires: 0 } }
    $("#main-right").tabs({
      ajaxOptions: {
        error: function(xhr, status, index, anchor) {
          $(anchor.hash).html("加载列表出错，请稍后再试。");
        }
      }
    });

  });
</script>

<!-- ### left main side -->
<div class="right" id="main-right">
  <ul class="larger">
    <% if current_user_section == "jobseeker" %>
      <li><a href="?service_item_id=<%= ServiceItem.money_id %>"><span>现金记录</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("短信包月") %>"><span>短信包月消费记录</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("简历高亮") %>"><span>简历高亮消费记录</span></a></li>
    <% elsif current_user_section == "company" %>
      <li><a href="?service_item_id=<%= ServiceItem.money_id %>"><span>现金记录</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("岗位发布") %>"><span>岗位发布</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("岗位高亮") %>"><span>岗位高亮</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("首页头条") %>"><span>首页头条</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("推荐岗位") %>"><span>推荐岗位</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("急聘") %>"><span>急聘</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("推荐公司(右)") %>"><span>推荐公司(右)</span></a></li>
      <li><a href="?service_item_id=<%= ServiceItem.get_id_by_name("推荐公司(底)") %>"><span>推荐公司(底)</span></a></li>
    <% elsif current_user_section == "partner" %>
      <li><a href="?service_item_id=<%= ServiceItem.money_id %>"><span>现金记录</span></a></li>
    <% end %>
  </ul>
</div>