<script>
  $(function(){ $.each($(".city_selector"), function(i, n){ $(n).CitySelector(); }); })
</script>

<%= f.error_messages %>
<%= f.text_field :name, :label => "名称", :class => "text w600" %>
<span class="city_selector">
  <%= f.select :location_province, [], {}, {:label => "所在省", :class => "province"} %>
  <%= f.select :location_city, [], {}, {:label => "所在市", :class => "city"} %>
</span>
<%= f.text_field :vacancy, :label => "岗位数", :class => "text w600" %>
<%= f.select :contract_type, ContractType.to_a, {:include_blank => true}, { :label => "工作类型" } %>
<%= f.select :category, JobCategory.to_a, {:include_blank => true}, {:label => "类别"} %>
<%= f.text_field :salary_range, :label => "薪资范围", :class => "text w600", :hint => "留空表示（面议）" %>
<%= f.cktext_area(:content, :height => '200px', :toolbar=>'Basic', :skin => "v2", :label => "工作内容") %>
<%= f.cktext_area(:requirement, :height => '200px', :toolbar=>'Basic', :skin => "v2", :label => "岗位需求") %>
<%= f.cktext_area(:welfare, :height => '200px', :toolbar=>'Basic', :skin => "v2", :label => "福利待遇") %>
<%= f.cktext_area(:desc, :height => '200px', :toolbar=>'Basic', :skin => "v2", :label => "其他描述") %>