<%= field_set_tag "福利待遇", :class => 'big' do %>
<fieldset>
  <legend style="font-size: 1.2em">从其他工作复制</legend>
  <%= select("copy", "job_id", current_user.company.jobs.map {|j| [ j.name, j.id ] }, { :include_blank => true }) %>
  <input type="button" class="button copy_options_from_other_job" value="复制" option_type="welfare" />
</fieldset>

<div class="left welfare_list" style="width: 365px">
  <div class="notice w340 <%= "hidden" if f.object.welfare_options.present? %>">没有福利待遇。</div>
  <%= f.fields_for :welfare_options do |new_form| %>
    <%= render "optional_options/form", :f => new_form if new_form.object.present? %>
  <% end %>
  <%= f.button_to_add_fields '添加自定义项', :welfare_options, :form_path => "optional_options", :id => "add_welfare_botton" %>
</div>

<div class="post lite_background right w200 welfare_option_list">
  <div class="post-title"><h4>您可以从这里选择：</h4></div>
	<div class="post-body">
	  <% WELFARE_OPTIONS.each do |title, items| %>
      <h6 class="middle_top_margin middle_bottom_margin"><%= title %></h6>
  	  <% items.each do |k, v| %>
  	    <a href="javascript:void(0)" class="bordered optional_option_tag" desc="<%= v %>"><%= k %></a>
  	  <% end %>
  	  <div class="clearer"></div>
	  <% end %>
	</div>
	<div class="clearer"></div>
</div>
<% end %>



<%= field_set_tag "需要问应聘者的其他问题", :class => 'big' do %>
<fieldset>
  <legend style="font-size: 1.2em">从其他工作复制</legend>
  <%= select("copy", "job_id", current_user.company.jobs.map {|j| [ j.name, j.id ] }, { :include_blank => true }) %>
  <input type="button" class="button copy_options_from_other_job" value="复制" option_type="question" />
</fieldset>

<div class="left question_list" style="width: 365px">
  <div class="notice w340 <%= "hidden" if f.object.question_options.present? %>">没有需要问应聘者的其他问题。</div>
  <%= f.fields_for :question_options do |new_form| %>
    <%= render "optional_options/form", :f => new_form if new_form.object.present? %>
  <% end %>
  <%= f.button_to_add_fields '添加自定义项', :question_options, :form_path => "optional_options", :id => "add_question_botton" %>
</div>

<div class="post lite_background right w200 question_option_list">
  <div class="post-title"><h4>您可以从这里选择：</h4></div>
	<div class="post-body">
	  <% QUESTION_OPTIONS.each do |title, items| %>
	    <h6 class="middle_top_margin middle_bottom_margin"><%= title %></h6>
  	  <% items.each do |k, v| %>
  	    <a href="javascript:void(0)" class="bordered optional_option_tag" desc="<%= v %>"><%= k %></a>
  	  <% end %>
  	  <div class="clearer"></div>
	  <% end %>
	</div>
	<div class="clearer"></div>
	<div class="quiet">基本信息会在简历里要求，所以不需要额外提问。</div>
</div>
<% end %>