<h3 class="right small_top_margin"><%= link_to "查看前台效果", all_jobs_company_path(current_user.company) %></h3>
<%= page_name_html("岗位管理", :with_title => true) %>

<% show_no_record(@jobs) do %>
  <table class="data-table">
  	<tr>
  	  <th width="300">工作名</th>
  		<th width="80">所在省市</th>
  		<th width="140">展示时间段</th>
  		<th width="80">状态</th>
  		<th width="90">操作</th>
  	</tr>
  	<% @jobs.each do |job| %>
  	<tr class="even">
  	  <td><%= link_to job.name, company_job_path(job) %></td>
  		<td><%= job.location %></td>
  		<td><%= job.start_at.try(:to_s_short_date) %> - <%= job.end_at.try(:to_s_short_date) %></td>
  		<td style="color: <%= job.state_font_color %>"><%= job.state_s %></td>
  		<td>
  		  <%= link_to "修改并重审", edit_company_job_path(job) if job.rejected? %>
        <%= link_to "开始展示", open_company_job_path(job), :confirm => "激活岗位会扣取一个岗位发布点数，是否继续？" if job.closed? and !job.available? %>
    	  <%= link_to "关闭", close_company_job_path(job), :confirm => "确定关闭工作？" if job.opened? and job.available? %>
    	  <%= link_to "开放", open_company_job_path(job), :confirm => "确定开放工作？" if job.closed? and job.available? %>
    	  <%= link_to "修改", edit_company_job_path(job), :confirm => "修改以后需要重新等待审核，是否继续？" if !job.rejected? %>
  		</td>
  	</tr>
    <% end %>
  </table>
  <%= will_paginate @jobs %>
<% end %>