<% title "Company/Jobs" %>

<table>
  <tr>
    <th>Name</th>
    <th>Location Province</th>
    <th>Location City</th>
    <th>Vacancy</th>
    <th>Content</th>
    <th>Requirement</th>
    <th>Welfare</th>
    <th>Salary Range</th>
    <th>Highlight Start At</th>
    <th>Highlight End At</th>
    <th>Start At</th>
    <th>End At</th>
  </tr>
  <% for company/job in @company/jobs %>
    <tr>
      <td><%= company/job.name %></td>
      <td><%= company/job.location_province %></td>
      <td><%= company/job.location_city %></td>
      <td><%= company/job.vacancy %></td>
      <td><%= company/job.content %></td>
      <td><%= company/job.requirement %></td>
      <td><%= company/job.welfare %></td>
      <td><%= company/job.salary_range %></td>
      <td><%= company/job.highlight_start_at %></td>
      <td><%= company/job.highlight_end_at %></td>
      <td><%= company/job.start_at %></td>
      <td><%= company/job.end_at %></td>
      <td><%= link_to "Show", company/job %></td>
      <td><%= link_to "Edit", edit_company/job_path(company/job) %></td>
      <td><%= link_to "Destroy", company/job, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Company/Job", new_company/job_path %></p>
