<h3 class="right small_top_margin"><%= link_to "查看前台效果", @job %></h3>
<%= page_name_html(@job.name, :with_title => true) %>

<table class="data-table top-vlign">
	<tr>
	  <th width="50">所在地</th>
		<td><%= @job.location %></td>
	</tr>
	<tr>
	  <th>学历要求</th>
		<td><%= @job.degree_requirement_humanize %></td>
	</tr>
	<tr>
	  <th>工作年限</th>
		<td><%= @job.working_year_requirement_humanize %></td>
	</tr>
	<tr>
	  <th>岗位数</th>
		<td><%= @job.vacancy %></td>
	</tr>
	<tr>
	  <th>工作类型</th>
		<td><%= @job.contract_type_humanize %></td>
	</tr>
	<tr>
	  <th>类别</th>
		<td><%= @job.category_humanize %></td>
	</tr>
	<tr>
	  <th>薪资范围</th>
		<td><%= @job.salary_range_humanize %></td>
	</tr>
	<tr>
	  <th>工作内容</th>
		<td><%= raw @job.content %></td>
	</tr>
	<tr>
	  <th>岗位需求</th>
		<td><%= raw @job.requirement %></td>
	</tr>
	<tr>
	  <th>福利待遇</th>
		<td><%= raw @job.welfare %></td>
	</tr>
	<tr>
	  <th>其他描述</th>
		<td><%= raw @job.desc %></td>
	</tr>
	<tr>
	  <th>应聘方式</th>
		<td><%= raw @job.apply_method %></td>
	</tr>
	<tr>
	 <th>是否使用<br>应聘系统</th>
	 <td><%= @job.only_use_custom_apply_method_to_s %></td>
	</tr>
</table>

<br />
<%= button_to_function "修改", "$(location).attr('href','#{edit_company_job_path(@job)}')", :class => 'largest right button' %>

<%= button_to_function "返回列表", "$(location).attr('href','#{company_jobs_path}')", :class => 'largest right button small_right_margin' %>