<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <%= render "shared/meta" %>
  <title><%= "#{@content_for_title} - " if @content_for_title %> 程序员招聘网</title>
</head>

<body id="top">
  <div id="loading">正在加载, 请稍候...</div>

  <!-- header zone select bar and signin signup link -->
  <div id="network">
  	<div class="center-wrapper">
  		<div class="left">
        <!-- 当前本站共有:
        <span class="text-separator"></span>
        <span class="quiet"><%= User.count %> 个用户,</span>
        <span class="quiet"><%= Job.opened.count %> 个工作,</span>
        <span class="quiet"><%= Company.count %> 个公司</span> -->
        <%= render "shared/login_status" %>
  		</div>

  		<div class="right">
  		  <% semantic_navigation "network-tabs", :html => {:class => "tabbed"} do |n| %>
          <%= n.item '首页', :link => root_path, :highlights_on => frontend_paths %>
          <%= n.item '我是求职者', :link => jobseeker_dashboard_path, :highlights_on => jobseeker_section_paths if jobseeker_user? %>
          <%= n.item '我是公司', :link => company_dashboard_path, :highlights_on => company_section_paths if company_user? %>
          <%= n.item '我是合作者', :link => partner_dashboard_path, :highlights_on => partner_section_paths if partner_user? %>
        <% end %>
  		</div>
  		<div class="clearer">&nbsp;</div>
  	</div>
  </div>

  <div id="site">
  	<div class="center-wrapper">
      <%= render "shared/header" %>
      <%= raw render_message %>
      <%= content_for?(:content) ? yield(:content) : yield %>
      <%= render "shared/footer" %>
	  </div>
  </div>

  <%= render "shared/counter" if Rails.env == 'production' %>
</body>
</html>