<% content_for :content do %>

<!-- ### main content -->
<div class="main company_home_page">
  <!-- <div class="right bordered largest">认证企业</div> -->
  
  <div class="title">
    <h1><%= @company.name %></h1>
    <%= image_tag @company.logo.url(:title), :style => "float: right; margin-right: #{@company.logo_margin}px;" %>
  </div>

  <div class="clearer">&nbsp;</div><br/>

  <div class="menu">
    <% semantic_navigation "company-home-menu", :html => {:class => "tabbed"} do |n| %>
      <%= n.item '公司信息', :link => company_path(@company) %>
      <%= n.item '公司展示', :link => presentations_company_path(@company) %>
      <%= n.item '所有工作', :link => all_jobs_company_path(@company) %>
    <% end %>

    <% if @job %>
      > <%= link_to @job.name, @job %>
    <% end %>
    <div class="clearer">&nbsp;</div>
  </div>

  <br/>

  <%= yield %>
</div>
<% end %>

<% content_for :footer_ad_zone do %>
  <div style="height:3em;"></div>
  <%= render "shared/ads/bottom_ads_with_urgent_jobs" %>
<% end %>

<%= render :file => current_layout %>