<% if @company %>
  <% content_for(:meta_info) do %>
    <meta name="keywords" content="<%= @company.tag_list << @company.name %>" />
    <meta name="description" content="<%= strip_tags(raw(@company.desc)).truncate(100).gsub(/\n/,'') %>"/>
  <% end %>
<% elsif @job %>
  <% @company = @job.company %>
<% end %>

<% content_for :content do %>
<!-- ### main content -->
<div class="main company_home_page">

  <table style="width:700px;" class="center">
    <tr>
      <td>
        <%= image_tag @company.logo.url(:thumb), :class => "bordered" %>
      </td>
      <td>
        <h2 class="title"><%= @company.name %></h2>
        <% if @company.homepage.present? %>
          <h4><%= link_to @company.homepage, @company.homepage %></h4>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="clearer">&nbsp;</div><br/>

  <% semantic_navigation "tabnav" do |n| %>
    <%= n.item '公司信息', :link => company_path(@company) %>
    <%= n.item '公司展示', :link => presentations_company_path(@company) %>
    <%= n.item '所有工作', :link => all_jobs_company_path(@company) %>
  <% end %>
  <div class="clearer">&nbsp;</div>

  <%= yield %>
</div>
<% end %>

<% content_for :footer_ad_zone do %>
  <div style="height:3em;"></div>
  <%= render "shared/ads/bottom_ads_with_urgent_jobs" %>
<% end %>

<%= render :file => current_layout %>