<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <%= render "shared/meta" %>
  <style><%= current_partner_site.try(:global_css) %></style>
  <title><%= "#{@content_for_title} - " if @content_for_title %> <%= current_partner_site.title %> - 程序员招聘 - 专注于程序员招聘的网站</title>
</head>

<body id="top">
  <div id="loading">正在加载, 请稍候...</div>

  <div id="site">
    <!-- #### site logo and title -->
    <iframe id="header_iframe" name="header_iframe" width="100%" scrolling="no" height="<%= current_partner_site.header_height %>" frameborder="0" src="/partner_site_header"></iframe>

    <div class="center-wrapper">
      <%= render "shared/partner_site_header" %>
      <%= raw render_message %>
      <%= content_for?(:content) ? yield(:content) : yield %>
      <%= render "shared/partner_site_footer" %>
    </div>

    <iframe id="footer_iframe" name="footer_iframe" width="100%" height="<%= current_partner_site.footer_height %>" scrolling="no" frameborder="0" src="/partner_site_footer"></iframe>

    <div id="footer">
      <div class="right">Powered by <a href="http://itjob.fm/">ITJob.fm</a></div>
      <div class="clearer">&nbsp;</div>
    </div>
  </div>

  <%= render "shared/counter" if Rails.env == 'production' %>
</body>
</html>