<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <%= render "shared/meta" %>
  <style><%= current_partner_site.try(:global_css) %></style>
  <title><%= "#{@content_for_title} - " if @content_for_title %> <%= current_partner_site.title %> - 程序员招聘 - 专注于程序员招聘的网站</title>
</head>

<body id="top">
  <div id="loading">正在加载, 请稍候...</div>

  <div id="site">
    <%= render "shared/partner_site_header" %>
    <div class="center-wrapper">
      <%= raw render_message %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <%= render "shared/partner_site_footer" %>
  </div>

  <%= render "shared/counter" if Rails.env == 'production' %>
</body>
</html>